<div class="add-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add New
			</span>
		</h2>

		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="add-confirm-modal p-1">
			<form name="branchForm" class="gf-form-group section m-0 dflex">
				<div class="bg-modal modal-fwidth">
					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">STATE</label>
							<!--<input type="number" required ng-model="branch.stateId" class="gf-form-input "
								placeholder="name" />
							 	<select type="text" ng-model="branch.stateName" class="gf-form-input width-10"
								ng-options="stateName as branch.stateName for branch in ctrl.branches"></select> -->
								<select class="gf-form-input" ng-model="branch.stateId" ng-change="onChangeState()">
									<option value="">
									  Select State</option>
									<option ng-repeat="state in states" value="{{state.id}}">
									  {{state.stateName}}</option>
								</select>
							</div>
						<div class="fwidth-modal-text">
							<label class="gf-form-label b-0 bg-transparent">CITY</label>
							<!--<input type="number" required ng-model="branch.cityId" class="gf-form-input "
								placeholder="description" />-->
								<select class="gf-form-input" ng-model="branch.cityId" >
									<option value="">
									  Select City</option>
									<option ng-repeat="city in selectedCities" value="{{city.id}}">
									  {{city.cityName}}</option>
								</select>
						</div>
					</div>
					<div class="fwidth-modal-text modal-fwidth">
						<label class="gf-form-label b-0 bg-transparent">BRANCH NAME</label>
						<input type="text" required ng-model="branch.branchName" class="gf-form-input "
							placeholder="college head" />
					</div>

					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">ADDRESS</label>
							<input type="text" required ng-model="branch.address1" class="gf-form-input "
								placeholder="address line 2" />
						</div>
						<div class="fwidth-modal-text">
							<label class="gf-form-label b-0 bg-transparent"></label>
							<input type="text" required ng-model="branch.address2" class="gf-form-input "
								placeholder="addresss line 1" />
						</div>

					</div>
					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">BRANCH HEAD</label>
							<input type="text" required ng-model="branch.branchHead" class="gf-form-input "
								placeholder="college head" />
						</div>
						<div class="fwidth-modal-text">
							<label class="gf-form-label b-0 bg-transparent">COLLEGE</label>
							<!--<input type="number" required ng-model="branch.collegeId" class="gf-form-input "
								placeholder="description" /> -->
								<select class="gf-form-input" ng-model="branch.collegeId" >
									<option value="">
									  Select College</option>
									<option ng-repeat="college in colleges" value="{{college.id}}">
									  {{college.shortName}}</option>
								</select>
						</div>
					</div>
					<div class="m-t-1 text-center">
						<button ng-hide="text=='update'" type="submit" ng-click="create();"
							class="btn btn-success border-bottom">Save</button>
						<button ng-hide="text=='create'" type="submit" ng-click="update();"
							class="btn btn-success border-bottom">Update</button>
						<button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom">Cancel</button>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>

	</div>

</div>