<style>
  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
  }

  thead,
  tr:last-child {
    background-color: #f6f6f6;
  }

  .mbt {
    float: right;
    margin-top: 2px;
    color: #cecece;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* width: 25%; */
    color: #686868;
  }

  .table-p {
    padding: 0 10px;
  }

  /*
    tr:nth-child(even) {
      background-color: #3d3d33;
    } */
  button {
    background: white;
    color: #3697ef;
    padding: 0.5rem;
    border: 1px solid #dddddd;
    margin-bottom: 1rem;
    border-radius: 3px;
  }

  .fa-1-5x {
    font-size: 1.5rem;
    color: #cecece;
  }

  .tcenter {
    text-align: center;
  }
</style>
<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1">
    <h3>Colleges Branches</h3>
    <small> Create and manage college branches. </small>
  </div>
  <button ng-click="ctrl.showModal()"><i class="fa fa-plus-circle " aria-hidden="true"></i> Add new</button>
  <table class="table m-b-3">
    <thead>
      <th>State</th>
      <th>City</th>
      <th>Branch Name</th>
      <th>Address</th>
      <th>Branch Head</th>
      <th>Actions <i class="fa fa-bars mbt" aria-hidden="true"></i></th>
    </thead>
    <tbody>
      <tr ng-repeat="branch in ctrl.branches">
        <td class="width-4 text-center link-td">
          {{branch.state.stateName}}
        </td>
        <td class="width-4 text-center link-td">
          {{branch.city.cityName}}
        </td>
        <td class="width-4 text-center link-td">
          {{branch.branchName}}
        </td>
        <td class="width-4 text-center link-td">
          {{branch.address1}} {{branch.address2}}
        </td>
        <td class="width-4 text-center link-td">
          {{branch.branchHead}}
        </td>
        <td class="width-4 text-center link-td">
          <a ng-click="ctrl.editBranch(branch)">
            <i class="fa fa-pencil-square-o fa-1-5x" aria-hidden="true"></i>
          </a>
          <a ng-click="ctrl.deleteBranch(branch)">
            <i class="fa fa-trash-o fa-1-5x table-p" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="text-align" colspan="6">Total: {{ctrl.branches.length}}</td>
      </tr>
    </tbody>
  </table>
  <i class="fa fa-phone orange"></i>
</div>