<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1">
    <h3>Import existing data into CMS.</h3>
    <div class="importDflex">
      <div class="rtMargin">
        <label for="file" class="button-file-upload">
          <span class="fake-upload-button">Choose File</span>
          <span class="js-button-file-upload-text button-file-upload-text"></span>
          <input type="file" id="file" name="file" file-model="file" file-select="ctrl.getFile($event)"
            class="js-button-file-upload-input">
        </label>

      </div>
      <div class="form-h5">
        <label class="form-h5">Entity</label>
        <select required ng-model="ctrl.entityId" required>
          <option value="">Select Entity</option>
          <option value="all">All</option>
          <option ng-repeat="entity in ctrl.entities" value="{{entity}}">{{entity}}</option>
        </select>
      </div>
    </div>
  </div>
  <button ng-click="uploadFile()" class="uploadbtn"><i class="fa fa-cloud-upload imclod" aria-hidden="true"></i>
    <span>Upload</span></button>




  <!-- <button type="submit" ng-click="" class="btn btn-success border-bottom">Submit</button> -->


  <!-- <i class="fa fa-phone orange"></i> -->
</div>
