<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Time Table Setting
</h3>
<div class="page-container page-body legal-entities-main-container">
  <h4 class="bg-heading" style="padding:6px;">
    Academic Year 2018-2019
  </h4>
  <div ng-class="{'hide': ctrl.activeTabIndex === 2}">
    <div class="form-container">
      <div class="gf-form-inline">
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">College</label>
          <select class="gf-form-select-box" ng-model="ctrl.collegeId" ng-change="ctrl.onChangeCollege()" required ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
            <option value="">Select College</option>
            <option ng-repeat="college in ctrl.colleges" value="{{college.id}}" ng-selected="college.id === ctrl.collegeId">{{college.shortName}}</option>
          </select>
        </div>
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">Branch</label>
          <select class="gf-form-select-box" ng-model="ctrl.branchId" ng-change="ctrl.onChangeBranch()" required ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
            <option value="">Select Branch</option>
            <option ng-repeat="branch in ctrl.branches" value="{{branch.id}}" ng-selected="branch.id == ctrl.branchId">{{branch.branchName}}</option>
          </select>
        </div>
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">Terms</label>
          <select class="gf-form-select-box" ng-model="ctrl.termId" ng-change="ctrl.onChangeTerm()" required ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
            <option value="">Select Term</option>
            <option ng-repeat="term in ctrl.terms" value="{{term.id}}" ng-selected="term.id === ctrl.termId">{{term.termsDesc}}</option>
          </select>
        </div>
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">Department</label>
          <select class="gf-form-select-box" ng-model="ctrl.departmentId" ng-change="ctrl.onChangeDepartment()" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
                  <option value="">Select Department</option>
                  <option ng-repeat="department in ctrl.departments" value="{{department.id}}" ng-selected="department.id === ctrl.departmentId">{{department.name}}</option>
                </select>
        </div>
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">Year</label>
          <select class="gf-form-select-box" ng-model="ctrl.batchId" ng-change="ctrl.onChangeBatch()" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
                    <option value="">Select Year</option>
                    <option ng-repeat="bth in ctrl.batches" value="{{bth.id}}" ng-selected="bth.id === ctrl.batchId">{{bth.batch}}</option>
                  </select>
        </div>
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">Semester</label>
          <select class="gf-form-select-box" ng-model="ctrl.semesterId" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
                    <option value="">Select Semester</option>
                    <option ng-repeat="sem in ctrl.semesters" value="{{sem.id}}" ng-selected="sem.id === ctrl.semesterId">{{sem.description}}</option>
                </select>
        </div>
        <div class="gf-form--grow form-control-container">
          <label for="" class="gf-form-label bg-transparent b-0">Section</label>
          <select class="gf-form-select-box" ng-model="ctrl.sectionId" ng-change="ctrl.onChangeSection()" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
                    <option value="">Select Section</option>
                    <option ng-repeat="sec in ctrl.sections" value="{{sec.id}}" ng-selected="sec.id === ctrl.sectionId">{{sec.section}}</option>
                </select>
        </div>
      </div>
    </div>
    <div class="form-container m-t-2">
      <div class="gf-form-inline">
        <div class="gf-form form-control-container m-r-2">
          <label for="" class="gf-form-label bg-transparent b-0">No of Lectures</label>
          <div class="t-students" ng-disabled="ctrl.isReadOnly"><span class="btn btn-primary mr-1 btn-small" ng-click="ctrl.changeCounter(1)" ng-init="0" ng-disabled="ctrl.isReadOnly">
                  <i class="fa fa-plus" aria-hidden="true" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly"></i>
                </span> {{ctrl.counter}}
            <span class="btn btn-primary ml-1 btn-small" ng-click="ctrl.changeCounter(-1)" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
                  <i class="fa fa-minus" aria-hidden="true" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly"></i>
                </span>
          </div>
        </div>
        <div class="gf-form form-control-container">
          <div class="t-students" ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly">
            Active
            <label ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly" class="switch" style="height:22px;"><input ng-disabled="ctrl.isReadOnly" type="checkbox" checked /> <span ng-disabled="ctrl.isReadOnly || ctrl.isViewOnly" class="slider m-0"></span> </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-container m-t-2">
      <div class="gf-form-inline">
        <div class="gf-form form-control-container">
          <input ng-if="ctrl.activeTabIndex === 0" type="button" class="btn btn-primary gf-form-control" ng-click="ctrl.onClickCreateLectures()"
            value="Create Lectures" ng-disabled="ctrl.isViewOnly"></input>
        </div>
        <div class="gf-form form-control-container">
          <input ng-if="ctrl.activeTabIndex === 0" type="button" class="btn btn-primary gf-form-control" ng-click="ctrl.viewAllLectures()"
            value="View All Lectures" ng-disabled="ctrl.isViewOnly"></input>
        </div>
        <div class="gf-form form-control-container">
          <input type="button" class="btn btn-primary gf-form-control" ng-click="ctrl.next()" value="Next" ng-if="ctrl.sectionId && ctrl.activeTabIndex === 0"
          />
        </div>
        <div class="gf-form form-control-container">
          <input type="button" class="btn btn-primary gf-form-control" value="Save" ng-click="ctrl.saveLectures()" ng-if="ctrl.activeTabIndex === 1" ng-disabled="ctrl.isRequestMade || ctrl.isViewOnly"/>
        </div>
        <div class="gf-form form-control-container">
          <input type="button" class="btn btn-primary gf-form-control" ng-click="ctrl.back()" value="Back" ng-if="ctrl.activeTabIndex === 1"
          />
        </div>
      </div>
    </div>
    <div class="hide" id="createLectureDiv" ng-class="{'hide':ctrl.activeTabIndex !== 0}">
      <table id="tttemplt" class="fwidth">
        <thead>
          <th>Sr. No</th>
          <th>Period Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Saturday Lecture</th>
          <th>Break After</th>
        </thead>
        <tbody>
          <tr ng-repeat="lec in ctrl.totalLectures track by $index">
            <td>{{$index + 1}}</td>
            <td>Lecture {{$index + 1}}</td>
            <td><input type="time" name="startTime_{{$index}}" ng-model="ctrl.lectureTimings[$index].startTime" id="startTime_{{$index}}" ng-disabled="ctrl.isViewOnly"></td>
            <td><input type="time" name="endTime_{{$index}}" ng-model="ctrl.lectureTimings[$index].endTime" id="endTime_{{$index}}" ng-disabled="ctrl.isViewOnly"></td>
            <td> <label class="switch"> <input type="checkbox" id="satLec_{{$index}}" ng-model="ctrl.lectureTimings[$index].isSatLecture" ng-disabled="ctrl.isViewOnly" /> <span class="slider m-0"></span> </label></td>
            <td> <label class="switch"> <input type="checkbox" id="brkAfter_{{$index}}" ng-model="ctrl.lectureTimings[$index].isBreak"  ng-disabled="ctrl.isViewOnly"/> <span class="slider m-0"></span> </label></td>
          </tr>
        </tbody>
      </table>
      <div ng-if="!ctrl.isValid">{{ctrl.timeTableValidationMessage}}</div>
    </div>

    <div class="hide" id="createLectureReportDiv" ng-class="{'hide':ctrl.showLectureReport !== 0}">
      <table id="tttemplt" class="fwidth">
        <thead>
          <th>Sr. No</th>
          <th>Department</th>
          <th>Teacher</th>
          <th>Subject</th>
          <th>Year</th>
          <th>Section</th>
          <th>Total Lectures</th>
        </thead>
        <tbody>
          <tr ng-repeat="lecRep in ctrl.lectureReport track by $index">
            <td>{{$index + 1}}</td>
            <td>{{lecRep.departmentName}}</td>
            <td>{{lecRep.teacherName}}</td>
            <td>{{lecRep.subjectDesc}}</td>
            <td>{{lecRep.year}}</td>
            <td>{{lecRep.section}}</td>
            <td>{{lecRep.totalLectures}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>



    <div class="info-container" ng-class="{'hide':ctrl.activeTabIndex !== 1}">
      <div class="page-container page-body legal-entities-main-container plr">
        <table id="tmtd" class="fwidth">
          <thead>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </thead>
          <tbody ng-repeat="lec in ctrl.totalLectures track by $index">
            <tr>
              <td>
                <div class="ttlect">
                  <span>Lecture {{$index + 1}}</span> <br>
                  <span>{{ctrl.lectureTimings[$index].startTime | date: "hh:mm a"}}<br> {{ctrl.lectureTimings[$index].endTime | date: "hh:mm a"}}</span>
                </div>
              </td>
              <td>
                <div class="ttdgrid">
                  <div class="ttd">
                    <span>Subject</span>
                    <span ng-click="">E</span>
                  </div>
                  <div>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].subjects['MONDAY']" ng-change="ctrl.onChangeSubject('MONDAY', $index)" ng-disabled="ctrl.isViewOnly">
                            <option value="">Select Subject</option>
                            <option ng-repeat="sub in ctrl.subjects" value="{{sub.id}}">{{sub.subjectCode}}</option>
                        </select>
                  </div>
                  <div>
                    <span class="ttd">Teacher</span>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].teachers['MONDAY']" ng-disabled="ctrl.isViewOnly">
                            <option value="">Select Teacher</option>
                            <option ng-repeat="tch in subjectWiseTeachers['MONDAY'][$index]" value="{{tch.id}}">{{tch.teacherName}}</option>
                        </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="ttdgrid">
                  <div class="ttd">
                    <span>Subject</span>
                    <span ng-click="">E</span>
                  </div>
                  <div>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].subjects['TUESDAY']" ng-change="ctrl.onChangeSubject('TUESDAY', $index)" ng-disabled="ctrl.isViewOnly">
                              <option value="">Select Subject</option>
                              <option ng-repeat="sub in ctrl.subjects" value="{{sub.id}}">{{sub.subjectCode}}</option>
                          </select>
                  </div>
                  <div>
                    <span class="ttd">Teacher</span>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].teachers['TUESDAY']" ng-disabled="ctrl.isViewOnly">
                              <option value="">Select Teacher</option>
                              <option ng-repeat="tch in subjectWiseTeachers['TUESDAY'][$index]" value="{{tch.id}}">{{tch.teacherName}}</option>
                          </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="ttdgrid">
                  <div class="ttd">
                    <span>Subject</span>
                    <span ng-click="">E</span>
                  </div>
                  <div>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].subjects['WEDNESDAY']" ng-change="ctrl.onChangeSubject('WEDNESDAY', $index)" ng-disabled="ctrl.isViewOnly">
                                <option value="">Select Subject</option>
                                <option ng-repeat="sub in ctrl.subjects" value="{{sub.id}}">{{sub.subjectCode}}</option>
                            </select>
                  </div>
                  <div>
                    <span class="ttd">Teacher</span>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].teachers['WEDNESDAY']" ng-disabled="ctrl.isViewOnly">
                                <option value="">Select Teacher</option>
                                <option ng-repeat="tch in subjectWiseTeachers['WEDNESDAY'][$index]" value="{{tch.id}}">{{tch.teacherName}}</option>
                            </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="ttdgrid">
                  <div class="ttd">
                    <span>Subject</span>
                    <span ng-click="">E</span>
                  </div>
                  <div>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].subjects['THURSDAY']" ng-change="ctrl.onChangeSubject('THURSDAY', $index)" ng-disabled="ctrl.isViewOnly">
                                  <option value="">Select Subject</option>
                                  <option ng-repeat="sub in ctrl.subjects" value="{{sub.id}}">{{sub.subjectCode}}</option>
                              </select>
                  </div>
                  <div>
                    <span class="ttd">Teacher</span>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].teachers['THURSDAY']" ng-disabled="ctrl.isViewOnly">
                                  <option value="">Select Teacher</option>
                                  <option ng-repeat="tch in subjectWiseTeachers['THURSDAY'][$index]" value="{{tch.id}}">{{tch.teacherName}}</option>
                              </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="ttdgrid">
                  <div class="ttd">
                    <span>Subject</span>
                    <span ng-click="">E</span>
                  </div>
                  <div>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].subjects['FRIDAY']" ng-change="ctrl.onChangeSubject('FRIDAY', $index)" ng-disabled="ctrl.isViewOnly">
                                  <option value="">Select Subject</option>
                                  <option ng-repeat="sub in ctrl.subjects" value="{{sub.id}}">{{sub.subjectCode}}</option>
                              </select>
                  </div>
                  <div>
                    <span class="ttd">Teacher</span>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].teachers['FRIDAY']" ng-disabled="ctrl.isViewOnly">
                                  <option value="">Select Teacher</option>
                                  <option ng-repeat="tch in subjectWiseTeachers['FRIDAY'][$index]" value="{{tch.id}}">{{tch.teacherName}}</option>
                              </select>
                  </div>
                </div>
              </td>
              <td>
                <div ng-if="ctrl.lectureTimings[$index].isSatLecture" class="ttdgrid">
                  <div class="ttd">
                    <span>Subject</span>
                    <span ng-click="">E</span>
                  </div>
                  <div>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].subjects['SATURDAY']" ng-change="ctrl.onChangeSubject('SATURDAY', $index)" ng-disabled="ctrl.isViewOnly">
                                    <option value="">Select Subject</option>
                                    <option ng-repeat="sub in ctrl.subjects" value="{{sub.id}}">{{sub.subjectCode}}</option>
                                </select>
                  </div>
                  <div>
                    <span class="ttd">Teacher</span>
                    <select class="gf-form-input" ng-model="ctrl.lectureTimings[$index].teachers['SATURDAY']" ng-disabled="ctrl.isViewOnly">
                                    <option value="">Select Teacher</option>
                                    <option ng-repeat="tch in subjectWiseTeachers['SATURDAY'][$index]" value="{{tch.id}}">{{tch.teacherName}}</option>
                                </select>
                  </div>
                </div>
              </td>
            </tr>
            <tr ng-if="ctrl.lectureTimings[$index].isBreak" style="height: 45px; background-color: #ababab; font-size: 17px;">
              <td colspan="7">Break</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-class="{'hide': ctrl.activeTabIndex !== 2}">
    <h4 style="margin-top: 30px;">
      <input type="button" class="btn btn-primary" value="Add Timetable Template" ng-click="ctrl.onClickAddTimeTable()">
      <input type="button" class="btn btn-primary" value="Link Timetable to class">
    </h4>
    <table style="width: 100%;">
      <thead>
        <th>Sr. No</th>
        <th>Template Name</th>
        <th>Number of Periods</th>
        <th>View</th>
        <th>Edit</th>
      </thead>
      <tbody>
        <tr ng-repeat="lec in ctrl.lecturesCreated track by $index">
          <td>{{$index + 1}}</td>
          <td>{{lec.statusDesc}}</td>
          <td>{{lec.numberOfPeriods}}</td>
          <td>
            <input type="button" ng-click="ctrl.onViewLectures($index)" class="btn btn-primary" value="View">
          </td>
          <td>
            <input type="button" class="btn btn-primary" ng-click="ctrl.onEditLectures($index)" value="Edit">
          </td>
        </tr>
        <!-- <tr>
          <td>1</td>
          <td>ffdsfas</td>
          <td></td>
          <td>
            <input type="button" ng-click="ctrl.onViewLectures()" class="btn btn-primary" value="View">
          </td>
          <td>
            <input type="button" class="btn btn-primary" ng-click="ctrl.onEditLectures()" value="Edit">
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
</div>
</div>