<div class="add-modal-body" ng-cloak>
	<div class="add-modal-header">\
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add New
			</span>
		</h2>
		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="add-confirm-modal p-1">
			<form name="departmentForm" class="gf-form-group section m-0 dflex">
				<div class="bg-modal modal-fwidth">
					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text modal-fwidth m-r-1">
							<label class="gf-form-label b-0 bg-transparent">Department Name</label>
							<input type="text" required ng-model="department.name" class="gf-form-input "
								placeholder="department name" />
						</div>
						<div class="fwidth-modal-text modal-fwidth">
							<label class="gf-form-label b-0 bg-transparent">Department Head</label>
							<input type="text" required ng-model="department.deptHead" class="gf-form-input "
								placeholder="department head" />
						</div>
					</div>
				<div class="mdflex modal-fwidth">
					<div class="fwidth-modal-text m-r-1">
						<label class="gf-form-label b-0 bg-transparent">COLLEGE BRANCH</label>
							<select class="gf-form-input" required ng-model="department.branchId" >
								<option value="">
								  Select College Branch</option>
								<option ng-repeat="branch in branches" value="{{branch.id}}">
								  {{branch.branchName}}</option>
							</select>
					</div>
				</div>
					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text m-r-1">
						<label class="gf-form-label b-0 bg-transparent">ACADEMIC YEAR</label>
							<select class="gf-form-input" required ng-model="department.academicyearId" >
								<option value="">
								  Select AcademicYear</option>
								<option ng-repeat="academicYear in academicYears" value="{{academicYear.id}}">
								  {{academicYear.year}}</option>
							</select>
						</div>
					</div>
					<div class="modal-fwidth fwidth-modal-text m-r-1">
						<label class="gf-form-label b-0 bg-transparent">Comments</label>
						<input type="text" required ng-model="department.description" class="gf-form-input "
							placeholder="description" />
					</div>
					<div class="m-t-1 text-center">
						<button ng-hide="text=='update'" type="submit" ng-click="create();"
							class="btn btn-success border-bottom">Save</button>
						<button ng-hide="text=='create'" type="submit" ng-click="update();"
							class="btn btn-success border-bottom">Update</button>
						<button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom">Cancel</button>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>

	</div>

</div>
