<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Department Setup
</h3>
<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1">
    <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">Departments</h4>
      <div>
        <a class="btn btn-primary" style="width: 150px;" ng-click="ctrl.showModal()">
          Add Department</a>
      </div>
    </div>
    <table id="academic" class="fwidth">
      <thead>
        <th>Department Name</th>
        <th>Department Head</th>
        <th>College Branch</th>
        <th>Academic Year</th>
        <th>Comments</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="department in ctrl.departments">
          <td>{{department.name}}
          </td>
          <td>
            {{department.deptHead}}
          </td>
          <td>
            {{department.branchId}}
          </td>
          <td>
            {{department.academicyearId}}
          </td>
          <td>
            {{department.description}}
          </td>
          <td>
            <a ng-click="ctrl.editDepartment(department)"><i class="fa fa-pencil-square-o fa-2x m-r-1"
                aria-hidden="true"></i></a>
            <a ng-click="ctrl.deleteDepartment(department)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>