<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<div class="page-container page-body legal-entities-main-container">
  <h3 class="bg-heading yspace">
    <i class="fa fa-university mr-1" aria-hidden="true"></i> Admin - Academic Year Setting
  </h3>
  <div class="info-container">
    <div class="authorized-signatory-container m-b-1"><h4 class="bg-heading p">Academic Year</h4></div>
    <table class="academicyear">
      <thead>
        <th>Sr.No.</th>
        <th>Holiday</th>
        <th>Date</th>
        <th>Active</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bhogi, Sankranti</td>
          <td>14/01/2019</td>
          <td>
            <label class="switch"> <input type="checkbox" checked /> <span class="slider"></span> </label>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Bhogi, Sankranti</td>
          <td>14/01/2019</td>
          <td>
            <label class="switch"> <input type="checkbox" /> <span class="slider"></span> </label>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Bhogi, Sankranti</td>
          <td>14/01/2019</td>
          <td>
            <label class="switch"> <input type="checkbox" checked /> <span class="slider"></span> </label>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Bhogi, Sankranti</td>
          <td>14/01/2019</td>
          <td>
            <label class="switch"> <input type="checkbox" checked /> <span class="slider"></span> </label>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Bhogi, Sankranti</td>
          <td>14/01/2019</td>
          <td>
            <label class="switch"> <input type="checkbox" checked /> <span class="slider"></span> </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
