<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Department Setup
</h3>
<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
    <h4 class="ptl-06">Department Setup</h4>
    <div>
      <!-- <a class="btn btn-primary" style="width: 135px;" ng-click="ctrl.activateTab(0)"> Add Department</a>
      <a class="btn btn-primary" ng-click="ctrl.activateTab(0)">Save</a> -->
    </div>
  </div>
  <table id="tds">
    <thead>
      <th>Department Name</th>
      <th>Department Head</th>
    </thead>
    <tbody>
      <tr ng-repeat="department in ctrl.departments">
        <td class="width-4 text-center link-td">
          {{department.name}}
        </td>
        <td class="width-4 text-center link-td">
          {{department.deptHead}}
        </td>
      </tr>
    </tbody>
  </table>
</div>