<div class="add-modal-body" ng-cloak>
  <div class="add-modal-header">
    <h2 class="add-modal-header-title">
      <!-- <i class="fa {{icon}}"></i> -->
      <span class="p-l-1">
        Add New Subject
      </span>
    </h2>

    <a class="add-modal-header-close" ng-click="dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <div class="modal-content">
      <div ng-if="is_success_bar === '0'" style="background-color:red;width: 100%; height: 30px;margin:auto;"><label class="gf-form-label b-0 bg-transparent">Due to some error, data could not be saved successfully.</label></div>
      <div ng-if="is_success_bar === '1'" style="background-color:green;width: 100%; height: 30px;margin:auto;"><label class="gf-form-label b-0 bg-transparent">Data saved successfully.</label></div>
      
    <div class="add-confirm-modal p-1">
      <form name="subjectForm" class="gf-form-group section m-0 dflex">
        <div class="bg-modal modal-fwidth">
          <div class="mdflex modal-fwidth">
            <div class="fwidth-modal-text modal-fwidth m-r-1">
              <label class="gf-form-label b-0 bg-transparent">Subject Name</label>
              <input type="text" required ng-model="subject.subjectDesc" class="gf-form-input "
                placeholder="subject name" maxlength="255"/>
            </div>
            <div class="fwidth-modal-text modal-fwidth">
              <label class="gf-form-label b-0 bg-transparent">Subject Code</label>
              <input type="text" required ng-model="subject.subjectCode" class="gf-form-input"
                placeholder="subject Code" maxlength="255"/>
            </div>
          </div>
          <div class="mdflex modal-fwidth">
            <div class="fwidth-modal-text m-r-1">
              <label class="gf-form-label b-0 bg-transparent">Department</label>
              <select class="gf-form-select-wrapper" ng-model="subject.departmentId" ng-change="onChangeDepartment()" required >
                  <option value="">Select Department</option>
                  <option ng-repeat="department in departments" value="{{department.id}}">{{department.name}}</option>
                </select>
            </div>
            <div class="fwidth-modal-text">
              <label class="gf-form-label b-0 bg-transparent">Year</label>
              <select class="gf-form-select-wrapper" ng-model="subject.batchId">
                <option value="">Select Year</option>
                <option ng-repeat="batch in batches" value="{{batch.id}}">{{batch.batch}}</option>
              </select>
            </div>
          </div>
          <div class="mdflex modal-fwidth">
            <div class="fwidth-modal-text m-r-1">
              <label class="gf-form-label b-0 bg-transparent">Assign Teacher</label>
              <select class="gf-form-select-wrapper" ng-model="subject.teacherId">
                <option value="">Select Teacher</option>
                <option ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.teacherName}}</option>
              </select>
            </div>
            <div class="fwidth-modal-text m-r-1 switch-flex">
              <div>
                <label class="gf-form-label b-0 bg-transparent">Status</label>
                <label class="switch">
                  <input type="checkbox" ng-model="subject.status" ng-true-value="'ACTIVE'"
                    ng-false-value="'DEACTIVE'" />
                  <span class="slider"></span>
                </label>
              </div>
              <div>
                <label class="gf-form-label b-0 bg-transparent">Elective</label>
                <label class="switch">
                  <input type="checkbox" ng-model="subject.subjectType" ng-true-value="'COMMON'"
                    ng-false-value="'ELECTIVE'" />
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="m-t-1 text-center">
            <button ng-hide="text=='update'" type="submit" ng-click="create();"
              class="btn btn-success border-bottom">Save</button>
            <button ng-hide="text=='create'" type="submit" ng-click="update();"
              class="btn btn-success border-bottom">Update</button>
            <button ng-click="dismiss();" type="reset" class="btn btn-danger border-bottom">Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-content-confirm-text" ng-if="confirmText">
      <input type="text" class="gf-form-input width-16" style="display: inline-block;"
        placeholder="Type {{ confirmText }} to confirm" ng-model="confirmInput"
        ng-change="updateConfirmText(confirmInput)" />
    </div>
  </div>
</div>