<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic subject Setup
</h3>
<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1">
    <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">subjects</h4>
      <div>
        <a class="btn btn-primary" style="width: 150px;" ng-click="ctrl.showModal();"> Add
          Subject</a>
      </div>
    </div>
    <table id="academic" class="fwidth">
      <thead>
        <th>Subject</th>
        <th>Subject Code</th>
        <th>Department</th>
        <th>Year</th>
        <th>Teacher</th>
        <th>Elective</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="subject in ctrl.subjects">
          <td>
            {{ subject.subjectDesc }}
          </td>
          <td>
            {{ subject.subjectCode }}
          </td>
          <td>
            {{ subject.departmentId }}
          </td>
          <td>
            {{ subject.batchId }}
          </td>
          <td>
            {{ subject.teacherId }}
          </td>
          <td>
            {{ subject.subjectType }}
          </td>
          <td>
            {{ subject.status }}
          </td>
          <td>
            <a><i class="fa fa-pencil-square-o fa-2x m-r-1" aria-hidden="true"></i></a>
            <a ng-click="ctrl.deleteSubject(subject)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <select class="gf-form-input" ng-model="teacher.id">
      <option ng-repeat="teacher in ctrl.teachers" value="{{teacher.id}}" selected="selected">
        {{teacher.id}}</option>
    </select>
  </div>
</div>