<form name="teacherForm">
  <div class="grid">
    <div class="leftbar">
      <!-- <img src="/public/img/cubes.png" alt="" /> -->
      <img src="{{ ctrl.profileSrc }}" alt="" class="img-width" />
      <div class="gf-form m-b-1">
        <label class="upload-cursor">
          <input id="d-none" type="file" file-select="ctrl.getFile(file)" class="gf-form-file-input" accept="image/*" />
          Upload <i class="fa fa-info-circle l-grey" aria-hidden="true"></i>
        </label>
      </div>
      <div class="form-justify">
        <label htmlFor="">*Upload photo:</label>
        <input ng-model="teacher.uploadPhoto" class="border-plugin input-width" type="text" />
      </div>
      <div class="form-justify">
        <label htmlFor="">*Employee Id:</label>
        <input ng-model="teacher.employeeId" class="border-plugin input-width" type="number" name="employeeid"
          ng-pattern='/^[0-9-_.]+$/' />
        <span class="form-error" ng-show="teacherForm.employeeid.$error.pattern">Please write Employee Id</span>
      </div>
      <div class="form-justify">
        <label htmlFor="">*Designation:</label>
        <input ng-model="teacher.designation" class="border-plugin input-width" type="text" required name="designation"
          ng-pattern="/^[a-zA-Z]+$/" />
        <span class="form-error" ng-show="teacherForm.designation.$error.pattern">Write Desination</span>
      </div>
      <div class="form-justify">
        <label htmlFor="">*Staff Type:</label>
        <select ng-model="teacher.staffType" ng-options="f for f in ['TEACHING', 'NONTEACHING', 'GUEST']"
          class="border-plugin">
        </select>
      </div>
      <div class="form-justify">
        <label htmlFor="">*Department:</label>
        <select class="gf-form-input border-plugin" ng-model="teacher.departmentId">
          <option ng-repeat="department in ctrl.departments" value="{{ department.id }}"> {{ department.name }}</option>
        </select>
      </div>
      <div class="form-justify">
        <label htmlFor="">*Branch:</label>
        <select class="gf-form-input border-plugin" ng-model="teacher.branchId">
          <option ng-repeat="branch in ctrl.branches" value="{{ branch.id }}"> {{ branch.branchName }}</option>
        </select>
      </div>
      <div class="form-justify">
        <span style="height: 45px;">*Status:</span>
        <label class="switch"><input type="checkbox" ng-model="teacher.status" ng-true-value="'ACTIVE'"
            ng-false-value="'DEACTIVE'" /> <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="rightbar">
      <div class="bg-heading p-s5 b-1 staff-flex">
        <h6 class="pt-bold">Personal Details</h6>
        <div>
          <a ng-class="{'hide':ctrl.activeTabPersonalIndex === 1}" ng-click="ctrl.activateTabPersonal(1)"><i
              class="fa fa-plus"></i></a>
          <a ng-class="{'hide':ctrl.activeTabPersonalIndex !== 1}" ng-click="ctrl.activateTabPersonal(0)"><i
              class="fa fa-minus"></i></a>
        </div>
      </div>
      <div ng-class="{'hide':ctrl.activeTabPersonalIndex !== 1}">
        <div class="form-grid">
          <div>
            <label htmlFor="">Name*</label>
            <input ng-model="teacher.teacherName" class="border-plugin fwidth" type="text" name="sfname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.sfname.$error.pattern">Write First Name</span>
          </div>
          <div>
            <label htmlFor="">Middle Name*</label>
            <input ng-model="teacher.teacherMiddleName" class="border-plugin fwidth" type="text" name="mname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.mname.$error.pattern">Write Middle Name</span>
          </div>
          <div>
            <label htmlFor="">Last Name*</label>
            <input ng-model="teacher.teacherLastName" class="border-plugin fwidth" type="text" name="lname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.lname.$error.pattern">Write Last Name</span>
          </div>
          <div>
            <label htmlFor="">Father Name*</label>
            <input ng-model="teacher.fatherName" class="border-plugin fwidth" type="text" name="ffname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.ffname.$error.pattern">Write Father's first Name</span>
          </div>
          <div>
            <label htmlFor="">Father Middle Name*</label>
            <input ng-model="teacher.fatherMiddleName" class="border-plugin fwidth" type="text" name="fmname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.fmname.$error.pattern">Write Father's middle Name</span>
          </div>
          <div>
            <label htmlFor="">Father Last Name*</label>
            <input ng-model="teacher.fatherLastName" class="border-plugin fwidth" type="text" name="flname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.flname.$error.pattern">Write Father's last Name</span>
          </div>
          <div>
            <label htmlFor="">Spouse Name*</label>
            <input ng-model="teacher.spouseName" class="border-plugin fwidth" type="text" name="sname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.sname.$error.pattern">Write Spouse's first Name</span>
          </div>
          <div>
            <label htmlFor="">Spouse Middle Name*</label>
            <input ng-model="teacher.spouseMiddleName" class="border-plugin fwidth" type="text" name="smname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.smname.$error.pattern">Write Spouse's middle Name</span>
          </div>
          <div>
            <label htmlFor="">Spouse Last Name*</label>
            <input ng-model="teacher.spouseLastName" class="border-plugin fwidth" type="text" name="slname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.slname.$error.pattern">Write Spouse's last Name</span>
          </div>
          <div>
            <label htmlFor="">Mother Name*</label>
            <input ng-model="teacher.motherName" class="border-plugin fwidth" type="text" name="mfname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.mfname.$error.pattern">Write Mother Name</span>
          </div>
          <div>
            <label htmlFor="">Mother Middle Name*</label>
            <input ng-model="teacher.motherMiddleName" class="border-plugin fwidth" type="text" name="mmname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.mmname.$error.pattern">Write Mother Middle Name</span>
          </div>
          <div>
            <label htmlFor="">Mother Last Name*</label>
            <input ng-model="teacher.motherLastName" class="border-plugin fwidth" type="text" name="mlname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.mlname.$error.pattern">Write Mother Last Name</span>
          </div>
          <div>
            <label htmlFor="">Adhar No*</label>
            <input ng-model="teacher.aadharNo" class="border-plugin fwidth" type="text" name="adhar" required maxlength="12"
              ng-pattern="/^[0-9]{12}$/" />
            <span class="form-error" ng-show="teacherForm.adhar.$error.pattern">Write Aadhar No</span>
          </div>
          <div>
            <label htmlFor="">Date Of Birth*</label>
            <input ng-model="teacher.dateOfBirth" class="border-plugin fwidth" type="date" />
          </div>
          <div>
            <label htmlFor="">Place Of Birth*</label>
            <input ng-model="teacher.placeOfBirth" class="border-plugin fwidth" type="text" name="pob"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.pob.$error.pattern">Place Of Birth</span>
          </div>
          <div>
            <label htmlFor="">Religion*</label>
            <select ng-model="teacher.religion" ng-options="f for f in ['HINDU', 'MUSLIM', 'CHRISTIAN']"
              class="gf-form-input border-plugin">
            </select>
          </div>
          <div>
            <label htmlFor="">Caste*</label>
            <select ng-model="teacher.caste" ng-options="f for f in ['OC', 'BC', 'SC', 'ST']"
              class="gf-form-input border-plugin">
            </select>
          </div>
          <div>
            <label htmlFor="">Subcaste*</label>
            <input ng-model="teacher.subCaste" class="border-plugin fwidth" type="text" name="subcaste"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.subcaste.$error.pattern">Write Sub Caste</span>
          </div>
          <div>
            <label htmlFor="">Age*</label>
            <input ng-model="teacher.age" class="border-plugin fwidth" maxLength="2" name="age" type="text"
              ng-pattern="/^[0-9]{2}+$/" />
            <span class="form-error" ng-show="teacherForm.age.$error.pattern">Write Correct Age</span>
          </div>
          <div>
            <label htmlFor="">Sex*</label>
            <select ng-model="teacher.sex" ng-options="f for f in ['MALE', 'FEMALE']"
              class="gf-form-input border-plugin">
            </select>
          </div>
          <div>
            <label htmlFor="">Blood Group*</label>
            <select ng-model="teacher.bloodGroup"
              ng-options="f for f in ['ABPOSITIVE','ABNEGATIVE','OPOSITIVE','BPOSITIVE','BNEGATIVE']"
              class="gf-form-input border-plugin">
            </select>
          </div>
        </div>
      </div>
      <div class="bg-heading p-s5 b-1 staff-flex">
        <h6 class="pt-bold">Contact Details</h6>
        <div>
          <a ng-class="{'hide':ctrl.activeTabContactIndex === 1}" ng-click="ctrl.activateTabContact(1)"><i
              class="fa fa-plus"></i></a>
          <a ng-class="{'hide':ctrl.activeTabContactIndex !== 1}" ng-click="ctrl.activateTabContact(0)"><i
              class="fa fa-minus"></i></a>
        </div>
      </div>
      <div ng-class="{'hide':ctrl.activeTabContactIndex !== 1}">
        <div class="form-grid">
          <div>
            <label htmlFor="">Address Line 1*</label>
            <input ng-model="teacher.addressLineOne" class="border-plugin fwidth" type="text" name="adr1"
              ng-pattern="/^[a-zA-Z-_/.# ]+$/" />
            <span class="form-error" ng-show="teacherForm.adr1.$error.pattern">Write Correct Address</span>
          </div>
          <div>
            <label htmlFor="">Address Line 2</label>
            <input ng-model="teacher.addressLineTwo" class="border-plugin fwidth" type="text" name="adr2"
              ng-pattern="/^[a-zA-Z-_/.# ]+$/" />
            <span class="form-error" ng-show="teacherForm.adr2.$error.pattern">Write Correct Address</span>
          </div>
          <div>
            <label htmlFor="">Address Line 3</label>
            <input ng-model="teacher.addressLineThree" class="border-plugin fwidth" type="text" name="adr3"
              ng-pattern="/^[a-zA-Z-_/.# ]+$/" />
            <span class="form-error" ng-show="teacherForm.adr3.$error.pattern">Write Correct Address</span>
          </div>
          <div>
            <label htmlFor="">Town*</label>
            <input ng-model="teacher.town" class="border-plugin fwidth" type="text" name="stftown"
              ng-pattern="/^[a-zA-Z-_/.# ]+$/" />
            <span class="form-error" ng-show="teacherForm.stftown.$error.pattern">Write Correct Town Name</span>
          </div>
          <div>
            <label htmlFor="">State*</label>
            <input ng-model="teacher.state" class="border-plugin fwidth" type="text" name="stfstate"
              ng-pattern="/^[a-zA-Z-_/.# ]+$/" />
            <span class="form-error" ng-show="teacherForm.stfstate.$error.pattern">Write Correct Address</span>
          </div>
          <div>
            <label htmlFor="">Country*</label>
            <input ng-model="teacher.country" class="border-plugin fwidth" type="text" name="stfcountry"
              ng-pattern="/^[a-zA-Z-_/.# ]+$/" />
            <span class="form-error" ng-show="teacherForm.stfcountry.$error.pattern">Write Correct Country</span>
          </div>
          <div>
            <label htmlFor="">Pin Code*</label>
            <input ng-model="teacher.pincode" class="border-plugin fwidth" type="number" name="stfpin" maxLength="6"
              ng-pattern="/^[0-9]{6}+$/" />
            <span class="form-error" ng-show="teacherForm.stfpin.$error.pattern">Write Correct PinCode</span>
          </div>
          <div>
            <label htmlFor="">Contact Number*</label>
            <input ng-model="teacher.teacherContactNumber" class="border-plugin fwidth" type="number" name="stfcont"
              maxLength="10" ng-pattern="/^[0-9]{10}+$/" />
            <span class="form-error" ng-show="teacherForm.stfcont.$error.pattern">Write Correct Contact</span>
          </div>
          <div>
            <label htmlFor="">Alternate Contact Number 1</label>
            <input ng-model="teacher.alternateContactNumber" class="border-plugin fwidth" type="number"
              name="stfaltcont" maxLength="10" ng-pattern="/^[0-9]{10}+$/" />
            <span class="form-error" ng-show="teacherForm.stfaltcont.$error.pattern">Write Correct Contact</span>
          </div>
          <div>
            <label htmlFor="">Email Address*</label>
            <input ng-model="teacher.teacherEmailAddress" class="border-plugin fwidth" type="text" name="stfemail"
              ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" />
            <span class="form-error" ng-show="teacherForm.stfemail.$error.pattern">Write Correct Email</span>
          </div>
          <div>
            <label htmlFor="">Alternate Email Address</label>
            <input ng-model="teacher.alternateEmailAddress" class="border-plugin fwidth" type="email" name="stfaltemail"
              ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" />
            <span class="form-error" ng-show="teacherForm.stfaltemail.$error.pattern">Write Correct Email</span>
          </div>
        </div>
      </div>
      <div class="bg-heading p-s5 b-1 staff-flex">
        <h6 class="pt-bold">Primary And Emergency contact Details</h6>
        <div>
          <a ng-class="{'hide':ctrl.activeTabPrimaryIndex === 1}" ng-click="ctrl.activateTabPrimary(1)"><i
              class="fa fa-plus"></i></a>
          <a ng-class="{'hide':ctrl.activeTabPrimaryIndex !== 1}" ng-click="ctrl.activateTabPrimary(0)"><i
              class="fa fa-minus"></i></a>
        </div>
      </div>

      <div ng-class="{'hide':ctrl.activeTabPrimaryIndex !== 1}">
        <div class="reln">
          <label htmlFor="">Relation with Staff*</label>
          <select ng-model="teacher.relationWithStaff" ng-options="f for f in ['FATHER','MOTHER','GUARDIAN']"
            class="gf-form-input border-plugin">
          </select>
        </div>
        <div class="form-grid">
          <div>
            <label htmlFor="">Name*</label>
            <input ng-model="teacher.emergencyContactName" class="border-plugin fwidth" type="text" name="stfpname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.stfpname.$error.pattern">Write Correct Name</span>
          </div>
          <div>
            <label htmlFor="">Middle Name*</label>
            <input ng-model="teacher.emergencyContactMiddleName" class="border-plugin fwidth" type="text"
              name="stfpmname" ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" class="form-error" ng-show="teacherForm.stfpmname.$error.pattern">Write Correct
              Middle Name</span>
          </div>
          <div>
            <label htmlFor="">Last Name*</label>
            <input ng-model="teacher.emergencyContactLastName" class="border-plugin fwidth" type="text" name="stfplname"
              ng-pattern="/^[a-zA-Z ]+$/" />
            <span class="form-error" ng-show="teacherForm.stfplname.$error.pattern">Write Correct Last Name</span>
          </div>
          <div>
            <label htmlFor="">Contact Number*</label>
            <input ng-model="teacher.emergencyContactNo" class="border-plugin fwidth" type="text" name="stfpcn" maxlength="10"
            ng-pattern="/^[0-9]{10}$/" />
            <span class="form-error" ng-show="teacherForm.stfpcn.$error.pattern">Write Correct Contact Number</span>
          </div>
          <div>
            <label htmlFor="">Email Address*</label>
            <input ng-model="teacher.emergencyContactEmailAddress" class="border-plugin fwidth" type="email"
              name="stfpemail" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" />
            <span class="form-error" ng-show="teacherForm.stfpemail.$error.pattern">Write Correct Email</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <input ng-model="teacher.uploadPhoto" class="border-plugin fwidth" type="number" /> -->
  <!-- <div>
    <a ng-click="ctrl.activeBtn(0); ctrl.activeTabStaffList();" class="btn btn-primary" style="width: 135px;">
      Save</a>
  </div> -->
  <button class="btn btn-primary align-right-save" type="submit" ng-click="create();">save</button>
</form>
