<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1">
    <h3>Locations</h3>
    <small>
      Here you can manage the locations of the organization. You can assign Locations to employees later.
    </small>
  </div>
  <button ng-click="ctrl.showModal()"><i class="fa fa-plus-circle " aria-hidden="true"></i> Add new</button>

  <table class="table m-b-3">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>Applies</th>
      <th>Actions <i class="fa fa-bars mbt" aria-hidden="true"></i></th>
    </thead>
    <tbody>
      <tr>
        <td>Rishard</td>
        <td>Sita Corp Building, </br> 3rd Floor, </br>Madhapur, </br>Hyderabad, TS, India.</td>
        <td class="tcenter">20 </br>
          Employees
        </td>
        <td><i class="fa fa-pencil-square-o fa-1-5x" aria-hidden="true"></i><i class="fa fa-trash-o fa-1-5x table-p"
            aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td>Rishard</td>
        <td>Sita Corp Building, </br> 3rd Floor, </br>Madhapur, </br>Hyderabad, TS, India.</td>
        <td class="tcenter">20 </br>
          Employees
        </td>
        <td><i class="fa fa-pencil-square-o fa-1-5x" aria-hidden="true"></i><i class="fa fa-trash-o fa-1-5x table-p"
            aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td>Rishard</td>
        <td>Sita Corp Building, </br> 3rd Floor, </br>Madhapur, </br>Hyderabad, TS, India.</td>
        <td class="tcenter">20 </br>
          Employees
        </td>
        <td><i class="fa fa-pencil-square-o fa-1-5x" aria-hidden="true"></i><i class="fa fa-trash-o fa-1-5x table-p"
            aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td colspan="4">Total:3</td>
      </tr>
    </tbody>
  </table>
  <i class="fa fa-phone orange"></i>
</div>