<div class="page-container page-body legal-entities-main-container">
  <div class="authorized-signatory-container m-b-1">
    <h3>Locations</h3>
    <small>
      Here you can manage the locations of the organization. You can assign Locations to employees later.
    </small>
  </div>
  <button ng-click="ctrl.showModal()"><i class="fa fa-plus-circle " aria-hidden="true"></i> Add new</button>

  <table class="table m-b-3">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Applies</th>
      <th>Actions <i class="fa fa-bars mbt" aria-hidden="true"></i></th>
    </thead>
    <tbody>
      <tr ng-repeat="location in ctrl.locations">
        <td class="width-4 text-center link-td">
          {{location.id}}
        </td>
        <td class="width-4 text-center link-td">
          {{location.name}}
        </td>
        <td class="width-4 text-center link-td">
          {{location.address}}
        </td>
        <td class="width-4 text-center link-td">
          {{location.appliesTo}}
        </td>
        <td class="text-right">
          <a ng-click="ctrl.deleteLocation(location)" class="btn btn-danger btn-small">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="5">Total: {{ctrl.locations.length}}</td>
      </tr>
    </tbody>
  </table>
  <i class="fa fa-phone orange"></i>
</div>