 
  <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">Staff Profile</h4>
      <div>
      <a class="btn btn-primary" >Print</a>
      <a class="btn btn-primary" >Edit</a>
      </div>
    </div><section class="plugin-bg-white p-1">
      
      <div class="b-1 m-1">
        <div class="main-grid p-2">
          <div class="left-grid">
            <img src="/public/img/cubes.png" alt="" />
          </div>
          <div class="right-grid">
            <div class="heading-flex">
              <h3>{{teacher.teacherName}}</h3>
              <h5 class="hflex-h5">
                Contact No: <span>{{teacher.teacherContactNumber}}</span>
              </h5>
              <h5>
                Primary Contact No: <span>{{teacher.contactNo}}</span>
              </h5>
            </div>
            <div class="next-div">
              <span>
                Employee Id: <span>{{teacher.employeeId}}</span>
              </span>
              <span>
                Designation: <span>{{teacher.designation}}</span>
              </span>
              <span>
                Staff Type: <span>{{teacher.staffType}}</span>
              </span>
              <span>
                Branch: <span>{{taecher.branchId}}</span>
              </span>
              <span>
                Department: <span>{{teacher.deparmentId}}</span>
              </span>
              <span>
                Status: <span>{{teacher.}}</span>
              </span>
            </div>
            <div class="buttons">
              <a class="btn btn-primary">Profile</a>
              <a href="" class="btn btn-disable">
                Subjects
              </a>
              <a href="" class="btn btn-disable">
                Payroll
              </a>
              <a href="" class="btn btn-disable">
                ID Card
              </a>
              <a href="" class="btn btn-disable">
                Documents
              </a>
              <a href="" class="btn btn-disable">
                Groups
              </a>
              
            </div>
          </div>
        </div>
        <div class="main-details m-1 p-2 b-1">
          <div class="id-details">
            <div class="fh">
              <h5>Fathers Name:</h5> <h5>{{teacher.fatherName}}</h5>
            </div>
            <div class="fh">
              <h5>Fathers Contact:</h5> <h5>{{teacher.contactNo}}</h5>
            </div>
            <div class="fh">
              <h5>Email Address:</h5> <h5>{{teacher.emailAddress}}</h5>
            </div>
            <div class="fh">
              <h5>Mothers Name: </h5><h5>{{teacher.motherName}}</h5>
            </div>
            <div class="fh">
              <h5>Mothers Contact:</h5> <h5>{{teacher.contactNo}}</h5>
            </div>
            <div class="fh">
              <h5>Email Address:</h5> <h5>{{teacher.emailAddress}}</h5>
            </div>
          </div>
          <div class="id-details contact-details">
            <div class="fh">
              <h5>Address Line 1:</h5> <h5>{{teacher.addressLineOne}}</h5>
            </div>
            <div class="fh">
              <h5>Address Line 2:</h5> <h5>{{teacher.addressLineTwo}}</h5>
            </div>
            <div class="fh">
              <h5>Town:</h5> <h5>{{teacher.town}}</h5>
            </div>
            <div class="fh">
              <h5>State:</h5> <h5>{{teacher.state}}</h5>
            </div>
            <div class="fh">
              <h5>Country:</h5> <h5>{{teacher.country}}</h5>
            </div>
            <div class="fh">
              <h5>Pin Code:</h5> <h5>{{teacher.pincode}}</h5>  
            </div>
          </div>
          <div class="id-details"> 
            <div class="fh">
              <h5>Adhar No:</h5> <h5>{{teacher.aadharNo}}</h5>
            </div>
            <div class="fh">
              <h5>Date Of Birth:</h5> <h5>{{teacher.dateOfBirth}}</h5>
            </div>
            <div class="fh">
              <h5>Place Of Birth:</h5> <h5>{{teacher.placeOfBirth}}</h5>  
            </div>
            <div class="fh">
              <h5>Religion:</h5> <h5>{{teacher.religion}}</h5>
            </div>
            <div class="fh">
              <h5>Caste:</h5> <h5>{{teacher.caste}}</h5>
            </div>
            <div class="fh">
              <h5>Sub Cast:</h5> <h5>{{teacher.subCaste}}</h5>
            </div>
            <div class="fh">
              <h5>Blood Group:</h5> <h5>B{{teacher.bloodGroup}}</h5>
            </div>
            <div class="fh">
              <h5>Sex:</h5> <h5>{{teacher.sex}}</h5>
            </div>
            <div class="fh">
              <h5>Staff Type:</h5> <h5>{{teacher.staffType}}</h5>
            </div>
          </div>

<section class="plugin-bg-white p-1">
  <!-- <h3 class="bg-heading p-1">
        <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true" /> Admin
        - Teacher Overview
      </h3> -->
  <!-- <div class="hflex bg-heading mr-18 ml-18 pdn-1">
          <h4>Staff Profile</h4>
        <a href="" class="btn btn-primary">Print</a>
        <a href="" class="btn btn-primary">Edit</a>
      </div> -->
  <div class="b-1 m-1">
    <div class="main-grid p-2">
      <div class="left-grid">
        <img src="/public/img/cubes.png" alt="" />
      </div>
      <div class="right-grid">
        <div class="heading-flex">
          <h3>{{teacher.teacherName}}</h3>
          <h5 class="hflex-h5">
            Contact No: <span>{{teacher.teacherContactNumber}}</span>
          </h5>
          <h5>
            Primary Contact No: <span>{{teacher.contactNo}}</span>
          </h5>
        </div>
        <div class="next-div">
          <span>
            Employee Id: <span>{{teacher.employeeId}}</span>
          </span>
          <span>
            Designation: <span>{{teacher.designation}}</span>
          </span>
          <span>
            Staff Type: <span>{{teacher.staffType}}</span>
          </span>
          <span>
            Branch: <span>{{taecher.branchId}}</span>
          </span>
          <span>
            Department: <span>{{teacher.deparmentId}}</span>
          </span>
          <span>
            Status: <span>{{teacher.}}</span>
          </span>
        </div>
        <div class="buttons">
          <a class="btn btn-primary">Profile</a>
          <a href="" class="btn btn-disable">
            Subjects
          </a>
          <a href="" class="btn btn-disable">
            Payroll
          </a>
          <a href="" class="btn btn-disable">
            ID Card
          </a>
          <a href="" class="btn btn-disable">
            Documents
          </a>
          <a href="" class="btn btn-disable">
            Groups
          </a>

        </div>
      </div>
    </div>
    <div class="main-details m-1 p-2 b-1">
      <div class="id-details">
        <div class="fh">
          <h5>Fathers Name:</h5>
          <h5>{{teacher.fatherName}}</h5>
        </div>
        <div class="fh">
          <h5>Fathers Contact:</h5>
          <h5>{{teacher.contactNo}}</h5>
        </div>
        <div class="fh">
          <h5>Email Address:</h5>
          <h5>{{teacher.emailAddress}}</h5>
        </div>
        <div class="fh">
          <h5>Mothers Name: </h5>
          <h5>{{teacher.motherName}}</h5>
        </div>
        <div class="fh">
          <h5>Mothers Contact:</h5>
          <h5>{{teacher.contactNo}}</h5>
        </div>
        <div class="fh">
          <h5>Email Address:</h5>
          <h5>{{teacher.emailAddress}}</h5>
        </div>
      </div>
      <div class="id-details contact-details">
        <div class="fh">
          <h5>Address Line 1:</h5>
          <h5>{{teacher.addressLineOne}}</h5>
        </div>
        <div class="fh">
          <h5>Address Line 2:</h5>
          <h5>{{teacher.addressLineTwo}}</h5>
        </div>
        <div class="fh">
          <h5>Town:</h5>
          <h5>{{teacher.town}}</h5>
        </div>
        <div class="fh">
          <h5>State:</h5>
          <h5>{{teacher.state}}</h5>
        </div>
        <div class="fh">
          <h5>Country:</h5>
          <h5>{{teacher.country}}</h5>
        </div>
        <div class="fh">
          <h5>Pin Code:</h5>
          <h5>{{teacher.pincode}}</h5>
        </div>
      </div>
      <div class="id-details">
        <div class="fh">
          <h5>Adhar No:</h5>
          <h5>{{teacher.aadharNo}}</h5>
        </div>
        <div class="fh">
          <h5>Date Of Birth:</h5>
          <h5>{{teacher.dateOfBirth}}</h5>
        </div>
        <div class="fh">
          <h5>Place Of Birth:</h5>
          <h5>{{teacher.placeOfBirth}}</h5>
        </div>
        <div class="fh">
          <h5>Religion:</h5>
          <h5>{{teacher.religion}}</h5>
        </div>
        <div class="fh">
          <h5>Caste:</h5>
          <h5>{{teacher.caste}}</h5>
        </div>
        <div class="fh">
          <h5>Sub Cast:</h5>
          <h5>{{teacher.subCaste}}</h5>
        </div>
        <div class="fh">
          <h5>Blood Group:</h5>
          <h5>B{{teacher.bloodGroup}}</h5>
        </div>
        <div class="fh">
          <h5>Sex:</h5>
          <h5>{{teacher.sex}}</h5>
        </div>
        <div class="fh">
          <h5>Staff Type:</h5>
          <h5>{{teacher.staffType}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
</div>