
  <section class="plugin-bg-white p-1">
      <h3 class="bg-heading p-1">
        <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true" /> Admin
        - Teacher Overview
      </h3>
      <div class="b-1 m-1">
        <div class="main-grid p-2">
          <div class="left-grid">
            <img src="/public/img/cubes.png" alt="" />
          </div>
          <div class="right-grid">
            <div class="heading-flex">
              <h3>Jeremy Andrew Rose</h3>
              <h5 class="hflex-h5">
                Contact No: <span>878545625</span>
              </h5>
              <h5>
                Primary Contact No: <span>878545625</span>
              </h5>
            </div>
            <div class="next-div">
              <span>
                Admission No: <span>55951426</span>
              </span>
              <span>
                Roll No: <span>2019-521</span>
              </span>
              <span>
                Class: <span>First Year</span>
              </span>
              <span>
                Student Id: <span>951426</span>
              </span>
              <span>
                Department: <span>Computer Science</span>
              </span>
              <span>
                Section: <span>C</span>
              </span>
            </div>
            <div class="buttons">
              <a class="btn btn-primary">Profile</a>
              <a href="" class="btn btn-disable">
                Subjects
              </a>
              <a href="" class="btn btn-disable">
                Payroll
              </a>
              <a href="" class="btn btn-disable">
                ID Card
              </a>
              <a href="" class="btn btn-disable">
                Documents
              </a>
              <a href="" class="btn btn-disable">
                Groups
              </a>
              
            </div>
          </div>
        </div>
        <div class="main-details m-1 p-2 b-1">
          <div class="id-details">
            <div class="fh">
              <h5>Fathers Name:</h5> <h5>Gogo</h5>
            </div>
            <div class="fh">
              <h5>Fathers Contact:</h5> <h5>12354689</h5>
            </div>
            <div class="fh">
              <h5>Email Address:</h5> <h5>lolita@gmail.com</h5>
            </div>
            <div class="fh">
              <h5>Mothers Name: </h5><h5>lolita</h5>
            </div>
            <div class="fh">
              <h5>Mothers Contact:</h5> <h5>123456879</h5>
            </div>
            <div class="fh">
              <h5>Email Address:</h5> <h5>asdf@gmail.com</h5>
            </div>
          </div>
          <div class="id-details contact-details">
            <div class="fh">
              <h5>Address Line 1:</h5> <h5>Tolichowki</h5>
            </div>
            <div class="fh">
              <h5>Address Line 2:</h5> <h5>Tolichowki</h5>
            </div>
            <div class="fh">
              <h5>Town:</h5> <h5>Hyderabad</h5>
            </div>
            <div class="fh">
              <h5>State:</h5> <h5>Telangana</h5>
            </div>
            <div class="fh">
              <h5>Country:</h5> <h5>India</h5>
            </div>
            <div class="fh">
              <h5>Pin Code:</h5> <h5>50008</h5>  
            </div>
          </div>
          <div class="id-details"> 
            <div class="fh">
              <h5>Adhar No:</h5> <h5>12345</h5>
            </div>
            <div class="fh">
              <h5>Date Of Birth:</h5> <h5>1/1/2000</h5>
            </div>
            <div class="fh">
              <h5>Place Of Birth:</h5> <h5>Hyderabd</h5>  
            </div>
            <div class="fh">
              <h5>Religion:</h5> <h5>Indian</pan>
            </div>
            <div class="fh">
              <h5>Cast:</h5> <h5>Indian</h5>
            </div>
            <div class="fh">
              <h5>Sub Cast:</h5> <h5>Hyderabad</h5>
            </div>
            <div class="fh">
              <h5>Blood Group:</h5> <h5>B+</h5>
            </div>
            <div class="fh">
              <h5>Sex:</h5> <h5>Male</h5>
            </div>
            <div class="fh">
              <h5>Student Type:</h5> <h5>Scholarship</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    