<!-- <h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Staff Setup
</h3> -->

<div class="p-1 page-body legal-entities-main-container">
  <!-- <div class="authorized-signatory-container m-b-1 dflex bg-heading">
    <h4 class="ptl-06">Staff Details</h4>
    <div>
      <a class="btn btn-primary" style="width: 135px;" ng-click="ctrl.activeTabStaffCreate()"> Create New Staff</a>
      <a class="btn btn-primary" ng-click="ctrl.activateTab(0)">Save</a>
    </div>
  </div> -->

  <div class="staff-management">
    <div>
      <label htmlFor="">Department</label>
      <select class="gf-form-input" ng-model="ctrl.departmentId" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Department</option>
        <option ng-repeat="department in ctrl.departments" value="{{department.id}}">{{department.name}}</option>
      </select>
    </div>
    <div>
      <!-- <label htmlFor="">Year</label>
      <select class="gf-form-input" ng-model="ctrl.batchId" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Year</option>
        <option ng-repeat="bth in ctrl.batches" value="{{bth.id}}">{{bth.batch}}</option>
      </select> -->
    </div>
    <div>
      <label htmlFor="">Gender</label>
      <select class="gf-form-input" ng-model="ctrl.sex" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Gender</option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
        <option value="OTHER">OTHER</option>
      </select>
    </div>
    <div>
      <label htmlFor="">Staff Type</label>
      <select class="gf-form-input" ng-model="ctrl.staffType" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Staff Type</option>
        <option value="TEACHING">TEACHING</option>
        <option value="NONTEACHING">NONTEACHING</option>
        <option value="GUEST">GUEST</option>
      </select>
    </div>
    <div class="margin-bott">
      <label htmlFor="">Search</label>
      <input type="search" ng-model="search.teacherName" placeholder="search by name" />
    </div>
  </div>

  <table class="staff-management-table">
    <thead>
      <th>
        <!-- <input type="checkbox" style="width:18px; height: 18px;" ng-model="ctrl.checked"
          ng-change="ctrl.onClickCheckbox()" /> -->
        <input type="checkbox" style="width:18px; height: 18px;" ng-model="ctrl.isCheckAll"
          ng-change="ctrl.checkAllTeachers()" />
      </th>
      <th>Name</th>
      <th>Emp Id</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Gender</th>
      <th>Type</th>
      <th>Subjects</th>
      <th>status</th>
    </thead>
    <tbody>
      <!-- <div class="gf-form">
        <a class="gf-form-label btn-secondary" ng-click="showMoreOptions()">Show more</a>
        <pagination page="currentPage" max-size="noOfPages" total-teachers="totalTeachers"
          teachers-per-page="entryLimit"></pagination>
      </div> -->
      <tr ng-repeat="teacher in ctrl.filteredTeachers | filter:search:strict | orderBy:'teacherName'">
        <td>
          <!-- <input onClick={(e)=> this.onClickCheckbox(i, e)} checked={student.isChecked} type="checkbox" name=""
          id={"chk"+student.id}/> -->
          <input type="checkbox" style="width:18px; height: 18px;" ng-model="teacher.isChecked"
            ng-change="ctrl.onTeacherCheckedChange($index)" />
        </td>
        <td ng-search="filter:search">
          {{ teacher.teacherName + ' ' + teacher.teacherLastName }}
        </td>
        <td>{{ teacher.employeeId }}</td>
        <td>{{ teacher.designation }}</td>
        <td>{{ teacher.department.name }}</td>
        <td>{{ teacher.sex }}</td>
        <td>{{ teacher.staffType }}</td>
        <td>{{ teacher.contactNo }}</td>
        <td>{{ teacher.status }}</td>
      </tr>
    </tbody>
  </table>
</div>