<div class="p-1 page-body legal-entities-main-container">

  <div class="staff-management">
    <div>
      <label htmlFor="">Department</label>
      <select class="gf-form-input" ng-model="ctrl.departmentId" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Department</option>
        <option ng-repeat="department in ctrl.departments" value="{{department.id}}">{{department.name}}</option>
      </select>
    </div>
    <div>

    </div>
    <div>
      <label htmlFor="">Gender</label>
      <select class="gf-form-input" ng-model="ctrl.sex" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Gender</option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
        <option value="OTHER">OTHER</option>
      </select>
    </div>
    <div>
      <label htmlFor="">Staff Type</label>
      <select class="gf-form-input" ng-model="ctrl.staffType" ng-change="ctrl.onChangeFilter()">
        <option value="">Select Staff Type</option>
        <option value="TEACHING">TEACHING</option>
        <option value="NONTEACHING">NONTEACHING</option>
        <option value="GUEST">GUEST</option>
      </select>

    </div>
    <div class="margin-bott">
      <label htmlFor="">Search</label>
      <input type="search" ng-model="search.teacherName" placeholder="search by name" />
    </div>
    <a class="btn btn-success" id="fileType" ng-click="ctrl.exportStaffs();">Export</a>
  </div>

  <table class="staff-management-table">
    <thead>
      <th>
        <!-- <input type="checkbox" style="width:18px; height: 18px;" ng-model="ctrl.checked"
          ng-change="ctrl.onClickCheckbox()" /> -->
        <input type="checkbox" style="width:18px; height: 18px;" ng-model="ctrl.isCheckAll"
          ng-change="ctrl.checkAllTeachers()" key="teacher.id" id="chk" />
      </th>
      <th>Name</th>
      <th>Emp Id</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Gender</th>
      <th>Type</th>
      <th>Subjects</th>
      <th>status</th>
    </thead>
    <tbody>

      <tr ng-repeat=" teacher in ctrl.filteredTeachers | filter:search:strict | orderBy:'teacherName'" key="teacher.id">
        <td>
          <input type="checkbox" style="width:18px; height: 18px;" ng-model="teacher.isChecked"
            ng-change="ctrl.onTeacherCheckedChange($index)" id="chk" />
        </td>
        <td ng-search=" filter:search">
          {{ teacher.teacherName + ' ' + teacher.teacherLastName }}
        </td>
        <td>{{ teacher.employeeId }}</td>
        <td>{{ teacher.designation }}</td>
        <td>{{ teacher.department.name }}</td>
        <td>{{ teacher.sex }}</td>
        <td>{{ teacher.staffType }}</td>
        <td>{{ teacher.contactNo }}</td>
        <td>{{ teacher.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
