<div class="add-modal-body assign-group-modal-container" ng-cloak>
    <div class="add-modal-header">
        <h2 class="add-modal-header-title">
            <!-- <i class="fa {{icon}}"></i> -->
            <span class="p-l-1">
                Assign Group
            </span>
        </h2>
        <a class="add-modal-header-close" ng-click="dismiss();">
            <i class="fa fa-remove"></i>
        </a>
    </div>
    <div class="modal-content">
        <div class="add-confirm-modal p-1">
            <form class="gf-form-group section m-0 dflex">
                <div class="bg-modal">
                    <table class="assign-table">
                        <tr class="header">
                            <td class="left-part">
                                <input placeholder="SEARCH USER" type="text" class="gf-form-input"/>
                            </td>
                            <td class="middle-part"></td>
                            <td class="right-part">
                                <label>SELECT GROUP TO ASSIGN</label>
                            </td>
                        </tr>
                        <tr class="assign-content">
                            <td class="left-part"></td>
                            <td class="middle-part"></td>
                            <td class="right-part">
                                <div class="check-box-container" ng-repeat="group in groups">
                                    <input type="checkbox" id={{group.name}}>
                                    <label for={{group.name}}>{{group.name}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="gf-form-button-row p-r-0">
                        <button type="submit" class="btn btn-success border-bottom">Save</button>
                        <button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom m-r-0">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-content-confirm-text" ng-if="confirmText">
            <input type="text" class="gf-form-input width-16" style="display: inline-block;" placeholder="Type {{confirmText}} to confirm"
             ng-model="confirmInput" ng-change="updateConfirmText(confirmInput)">
        </div>
    </div>
</div>