<div class="add-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Edit User
			</span>
		</h2>
		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>
	<div class="modal-content">
		<div class="add-confirm-modal p-1">
			<form name="userForm" class="gf-form-group section m-0 dflex">
				<div class="bg-modal">
					<div class="fwidth-modal-text">
						<label class="gf-form-label b-0 bg-transparent">EMAIL</label>
						<input type="text" ng-model="user.email" class="gf-form-input "
							placeholder="Enter your email" />
					</div>
					<div class="fwidth-modal-text">
						<label class="gf-form-label b-0 bg-transparent">CREATE LOGIN ID</label>
						<input type="text" ng-model="user.username" class="gf-form-input "
							placeholder="Enter your username" />
					</div>
					<div class="fwidth-modal-text">
						<label class="gf-form-label b-0 bg-transparent">CREATE PASSWORD</label>
						<input type="password" ng-model="user.password" class="gf-form-input "
							placeholder="Enter your password" />
					</div>
					<div class="gf-form-button-row p-r-4">
						<button ng-disabled="isRequestMade" type="submit" ng-click="updateUser()"
							class="btn btn-success border-bottom">Save</button>
						<button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom">Cancel</button>
					</div>
					<div ng-if="is_success_bar === '0'" style="color:red;width: 50%; height: 10px;margin:auto;text-align:center;">There is someerror!</div>
					<div ng-if="is_success_bar === '1'" style="color:green;width: 50%; height: 10px;margin:auto;text-align:center;">Data Saved Successfully!</div>
				</div>
			</form>
		</div>
		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>
	</div>
</div>