.dashboard-list-container {
  margin-top: 51px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem;
  background-color: #efefef !important;

  .aside-container {
    width: 20%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    padding-top: 14px;
    text-align: center;
    .collapse-button {
      width: 50px;
      z-index: 111;
      text-align: left;
      margin-top: 4px;
    }
    .tab-title {
      font-size: 15px;
    }
    .tab-description {
      font-size: 12px;
    }
    .dashboard-nav-item {
      opacity: 1;
      transition: opacity 0.5s;
      padding: 15px;
    }
  }
  .collapse {
    width: 0px;
    .dashboard-nav-item {
      opacity: 0;
    }
  }
}

.no-dashboards-label {
  text-align: center;
  padding-top: 25%;
  font-weight: bold;
  font-size: 20px;
}
