.college-settings-container .tab-content {
  padding: 0px 0px !important;
  margin: 26px 0 !important;
}

.dashboard-settings__nav-item.active {
  background-color: #3697ef;
  color: white;
}
.dashboard-settings__content {
  padding: 0 0 0 20px;
  margin: 0;
}
.tab-header {
  background-color: white;
}

.tab-content {
  background-color: white;
}
.gf-tabs-link.active,
.gf-tabs-link.active:hover,
.gf-tabs-link.active:focus {
  background: white;
  color: #3697ef;
  overflow: hidden;
  font-weight: 500;
}
.gf-tabs-link {
  font-weight: 500;
  border: 0;
}
.gf-tabs-link.active::before,
.gf-tabs-link.active:hover::before,
.gf-tabs-link.active:focus::before {
  background-image: linear-gradient(to right, #fff 0%, #fff 99%, #fff 100%);
}
.dashboard-settings__nav-item.active {
  border: 0;
}
.main-view {
  background-color: #efefef !important;
}
.dashboard-settings__aside {
  padding: 14px 0 0 0px;
}
.aside-a {
  margin-left: 12px;
  margin-bottom: 10px;
}
.m-b-1 {
  margin-bottom: 1rem !important;
}
.authorized-signatory-container h3,
.authorized-signatory-container small {
  color: #7d7d7d;
}
.orange {
  color: white;
  font-size: 3rem;
  background: #ff8e3e;
  padding: 8px 12px;
  border-radius: 9rem;
  width: 4rem;
  height: 4rem;
  float: right;
  margin-top: -2rem;
  // margin-bottom: 20px;
}
.rp {
  position: absolute;
  right: 6rem;
  bottom: 2rem;
}
.fr {
  float: right;
}
.mt-1 {
  margin-top: 2rem;
}
.form-h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #363333;
  text-transform: uppercase;
}
small {
  color: #7d7d7d;
}
.mt-0 {
  margin: 1.5rem 0;
}
tile-info {
  font-size: 11px;
}
.mt-8 {
  margin: 1.8rem 0;
}

#d-none {
  display: none;
}

.w-100 {
  width: 100vw !important;
}
.table-academic {
  width: 100% !important;
}

table#academic {
  th {
    text-align: left;
  }
  td,
  th {
    width: auto;
    background: white;
    color: #cccccc;
    font-size: 10px;
  }
  span {
    margin-right: 10px;
  }
  label {
    padding: 0px 15px 0px 15px;
    border: 1px solid #cccccc;
  }
  input[type='date'] {
    padding-right: 15px;
    color: #cccccc;
  }
  button {
    margin-right: 24px;
  }
  td:first-child {
    padding-right: 4rem !important;
  }
  td:nth-child(4) {
    padding-right: 3rem !important;
  }
  td:last-child {
    padding-right: 3rem !important;
  }
}
.wauto {
  width: auto;
  font-size: 10px;
}
i.fa.fa-calendar-o {
  border-left: 1px solid #cccccc;
  padding: 7px 0px 0px 13px;
  height: 34px;
  font-size: 20px;
}

.bg-heading {
  background-color: #f6f6f6;
}

.yspace {
  margin: -21px -4.3%;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.p {
  padding: 8px;
}
.mr-1 {
  margin-right: 1rem;
}
table.academicyear {
  th {
    text-align: center;
  }
  width: 100%;
  thead,
  tr:last-child {
    background-color: white !important;
  }
  background-color: white !important;
  td:first-child {
    // padding-left: 4rem !important;
    // padding-right: 4rem !important;
  }
  td:nth-child(2) {
    // padding-right: 20rem !important;
    // padding-left: 2rem !important;
  }
  td:nth-child(3) {
    text-align: center;
    // padding-left: 4rem !important;
    // padding-right: 4rem !important;
  }
  td:last-child {
    text-align: center;
    // padding-left: 4rem !important;
    // padding-right: 4rem !important;
  }
}
.fa-university {
  color: white;
  font-size: 1.5em;
}

.stroke-transparent {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
}
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
  background-color: #cccccc;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: url('/public/img/cross.png');
  padding: 3px;
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: #d62727;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: rgb(12, 133, 22);
  content: url('/public/img/tick.png');
  padding: 3px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

.ht {
  height: 5vh;
}
// padding
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.ptl-06 {
  padding-top: 6px;
  padding-left: 6px;
}
.width-full {
  width: 100%;
  th,
  td:first-child {
    width: 65%;
  }
  a,
  h4 {
    width: 100%;
  }
}

.fwidth {
  width: 100%;
}

.my {
  margin-top: 5rem;
}

.m-0 {
  margin: 0;
}

table#acs {
  text-align: center;
  td,
  th {
    width: 140px;
  }
  td {
    padding: 1px !important;
    height: 75% !important;
  }
  select {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important;
    padding: 14px 10px !important;
    border-radius: 10px;
    font-size: 12px !important;
  }
  input {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important !important;
    padding: 13px 10px;
    border-radius: 10px;
  }
}
table#tts {
  text-align: center;
  border: 0px transparent !important;
  th,
  td,
  tr {
    border: 0px transparent !important;
  }
  td,
  th {
    width: 140px;
  }
  td {
    padding: 1px !important;
    height: 75% !important;
  }
  select {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important;
    padding: 14px 10px !important;
    border-radius: 10px;
    font-size: 12px !important;
  }
  input {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important !important;
    padding: 13px 10px;
    border-radius: 10px;
  }
}

.btn-small {
  width: 15px !important;
  height: 15px !important;
  padding: 2px 0px !important;
}

table#tds {
  width: 100%;
  th,
  td {
    text-align: left !important;
    padding-left: 2rem !important;
    input {
      width: 100%;
    }
  }
}
.plugin-container {
  width: 100%;
  background: #efefef;
  padding: 1rem;
}

footer.footer {
  display: none;
}
.df {
  display: flex;
  justify-content: space-evenly;
}
.j-start {
  display: flex;
  justify-content: flex-start;
}
.react-datepicker-wrapper {
  border: 1px solid grey;
  width: 94%;
  padding: 6px;
}
.pr-1 {
  padding-right: 1.8rem;
}

.mt-3 {
  margin-top: 3rem;
}
.mb-0 {
  margin-bottom: 0px;
}

.p-r-4 {
  padding-right: 4rem;
}

.t-students {
  border: 1px solid #cecece;
  padding: 12px 5px;
  border-radius: 10px;
}
.ml-1 {
  margin-left: 1rem;
}
.n-border {
  border: none;
}
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-input > select {
  width: 150px;
  border: 1px solid #cecece;
  height: 75% !important;
  padding: 14px 10px !important;
  border-radius: 10px;
  font-size: 12px !important;
}

.dfc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.class-setup {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.class-grid {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  select {
    width: 135px;
  }
  p:nth-child(5) {
    margin-right: -3rem;
  }
}

#subject-table {
  th,
  td {
    padding: 2px !important;
    text-align: center;
    width: 168px;
  }
  td {
    height: 75% !important;
  }
  select {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important;
    padding: 14px 10px !important;
    border-radius: 10px;
    font-size: 12px !important;
  }
  input {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important !important;
    padding: 13px 10px;
    border-radius: 10px;
  }
  .btn-switch {
    border: 1px solid #cecece;
    width: 100% !important;
    height: 75% !important;
    border-radius: 10px;
    padding-top: 6%;
    padding-bottom: 6%;
  }
}

.w-160 {
  width: 160px !important;
}
.mrn {
  margin-right: -12px !important;
}
.b-0 {
  border: 0px !important;
}
table#tttemplt {
  margin-top: 3rem;
  margin-bottom: 3rem;
  th,
  td {
    text-align: center;
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 250px;
    text-align: left;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 170px !important;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 170px !important;
  }
}

.p-5 {
  padding: 5px 5px;
}

table#tmtd {
  background-color: #f7f7f7;
  text-align: center;
  th {
    text-align: center;
  }
  td {
    padding: 0px !important;
  }
  tbody > tr:nth-child(3) {
    background-color: #bebfc2;
    color: #f5f5f5;
    font-size: 20px;
    letter-spacing: 15px;
    text-transform: uppercase;
  }
  select {
    width: 100%;
  }
}
.ttdgrid {
  margin: 3px 2px 2px 2px;
  .ttd {
    display: flex;
    justify-content: space-between;
    margin: 5px 4px 15px 1px;
    padding: 0px;
    span:nth-child(2) {
      box-shadow: 1px 2px 4px;
      padding: 0px 5px;
      width: 18px;
      height: 18px;
      margin: 0px;
      background: #f0f0f0;
      color: #bdbdbd;
      border-radius: 3px;
      border: 1px solid #f0f0f0;
    }
  }
  select {
    border-top: 1px solid #e2e2e2e2;
    border-bottom: 1px solid #9c9c9c;
    border-radius: 5px;
  }
}

.plr {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.ttlect {
  margin-left: 0rem;
  margin-right: 0rem;
}

.dash-nav {
  background-color: #3697ef;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}
.clg-name {
  display: flex;
  align-items: center;
  h4 {
    border-right: 1px solid #cecece;
    padding-right: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

.search-name {
  ::placeholder {
    color: #cecece;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  input[type='search'] {
    background-color: #447aae;
    border-radius: 5px;
    padding: 5px;
  }
  a {
    margin-left: 1rem;
    color: #fff;
  }
  a.rnd {
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
    padding: 5px 10px;
    background-color: #307dc2;
  }
}

.yflex {
  display: flex;
  justify-content: space-between;
}

.s-univ {
  color: #447aae;
  font-size: 2rem;
  padding-left: 4px;
  padding-top: 4px;
}

.l-grid {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto auto;
  width: 350px !important;
}
