.legal-entities-main-container {
  .tab-content {
    padding: 50px 0px;
  }
  .empty-form-label {
    padding: 0 !important;
    border: 0 !important;
  }
  .logo {
    width: 100px;
  }
  .tile {
    width: 240px;
    float: left;
    margin-bottom: 1rem;
    .tile-circle {
      display: table-cell;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-size: 20px;
    }
    .tile-right-part {
      padding-left: 20px;
      display: table-cell;
      .tile-name {
        font-size: 15px;
      }
    }
  }
}

.yellow {
  background-color: #f5bd1f;
}

.green {
  background-color: #9dce6a;
}

.blue {
  background-color: #8198be;
}
