.local-app-container {
  margin-top: 51px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem;
  background-color: #efefef !important;

  .aside-container {
    max-width: 20%;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    .collapse-button {
      width: 50px;
      z-index: 111;
    }
    .tab-title {
      font-size: 15px;
    }
    .tab-description {
      font-size: 12px;
    }
    .dashboard-settings__nav-item {
      opacity: 1;
      transition: opacity 1s;
    }
  }
  .collapse {
    max-width: 0px;
    .dashboard-settings__nav-item {
      opacity: 0;
    }
  }
}
