.local-app-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  .aside-container {
    max-width: 30%;
    .tab-title {
      font-size: 15px;
    }
    .tab-description {
      font-size: 12px;
    }
  }
}
