.search-filter-field-wrapper{
    top: 0;
    right: 0;
    z-index: 1050;
    position: fixed;
    left: 60px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 3px #c1c1c1;

    input{
        max-width: 653px;
        padding: 1rem 1rem 0.75rem 1rem;
        height: 51px;
        box-sizing: border-box;
        outline: none;
        background: #1e2028;
        background-color: white;
        -ms-flex-positive: 10;
        flex-grow: 10;
    }
}

.search-filter-container{
    width: 700px;
    top: 52px;
    right: 0;
    bottom: 0;
    z-index: 1050;
    position: fixed;
    // left: 60px;
}