<div class="dashboard-main-container">
  <div class="dashboard-inner-container">
    <ul class="navigation-tabs">
      <li class="cursor-pointer nav-item" ng-repeat="section in ctrl.sections"
        ng-click="ctrl.setActiveSection(section)" ng-class="{active:section.folderId == ctrl.activeSection.folderId}">
        <i class="fa fa-cog"></i>
        <a class="nav-link">{{section.title}}</a>
      </li>
    </ul>
    <div class="dashboard-list-container">
      <aside class="aside-container ">
        <ul class="navigation-tabs vertical-tabs">
          <li class="cursor-pointer nav-item">
            <a class="collapse-button text-left"><i class="fa fa-bars"></i></a>
          </li>
          <li class="cursor-pointer nav-item" ng-repeat="dashboard in ctrl.activeSection.dashboards" ng-click="ctrl.setActiveDashboard(dashboard, $index)" ng-class="{active:dashboard.uid == ctrl.activeDashboard.uid}">
            <i class="fa fa-cog"></i>
            <a class="nav-link" >{{dashboard.title}}</a>
          </li>
        </ul>
      </aside>
      <div class="dashboard-settings__content" ng-if="ctrl.activeDashboard.uid === dashboard.uid"
        ng-repeat="dashboard in ctrl.activeSection.dashboards">
        <custom-dashboard-loader slug="{{ctrl.activeDashboard.slug}}" uid="{{ctrl.activeDashboard.uid}}">
        </custom-dashboard-loader>
      </div>
    </div>
  </div>
</div>