<navbar model="ctrl.navModel"></navbar>
<form name="pmtRsp" method="POST">
  <div>
    <h1>Payment Status</h1>
    <label class="gf-form-label b-0 bg-transparent">Transaction Status: {{ctrl.txnStatus}}</label>
    <label class="gf-form-label b-0 bg-transparent">Transaction Reference No: {{ctrl.txnRefNo}}</label>
    <label class="gf-form-label b-0 bg-transparent">Transaction Date: {{ctrl.txnDate}}</label>
    <label class="gf-form-label b-0 bg-transparent">Transaction Amount: {{ctrl.txnAmt}}</label>
  </div>
</form>

