<navbar model="ctrl.navModel"></navbar>
<div class="fwidth section-to-print">
  <form name="pmtRsp" class="payment-container" method="POST">
    <div class="dflex">
      <h1>Payment Status</h1>
      <button class="btn btn-primary dont-print" onclick="print()">Print</button>
    </div>
    <table class="fwidth" id="paymt-border">
      <tr>
        <td><label class="gf-form-label b-0 bg-transparent">Transaction Status:</label></td>
        <td><label class="gf-form-label b-0 bg-transparent">{{ctrl.txnStatus}}</label></td>
      </tr>
      <tr>
        <td><label class="gf-form-label b-0 bg-transparent">Transaction Reference No:</label></td>
        <td><label class="gf-form-label b-0 bg-transparent">{{ctrl.txnRefNo}}</label></td>
      </tr>
      <tr>
        <td><label class="gf-form-label b-0 bg-transparent">Transaction Date:</label></td>
        <td><label class="gf-form-label b-0 bg-transparent">{{ctrl.txnDate}}</label></td>
      </tr>
      <tr>
        <td><label class="gf-form-label b-0 bg-transparent">Transaction Amount:</label></td>
        <td><label class="gf-form-label b-0 bg-transparent">{{ctrl.txnAmt}}</label></td>
      </tr>
    </table>
  </form>
</div>