<div class="search-backdrop" ng-if="ctrl.isOpen" ng-click="ctrl.hideSearch()" ng-style="{'top':ctrl.top}">
</div>
<!-- <div class="search-filter-field-wrapper" ng-if="ctrl.isOpen">
    <div class="search-field-icon pointer" ng-click="ctrl.hideSearch()"><i class="fa fa-close"></i></div>
    <input type="text" placeholder="Find" give-focus="ctrl.giveSearchFocus" tabindex="1" give-focus="ctrl.giveSearchFocus" ng-keydown="ctrl.onKeyDownOnSearch($event)"
    />
    <div class="search-field-spacer"></div>
</div> -->
<div class="search-filter-container" ng-if="ctrl.isOpen" ng-style="{'top':ctrl.top}">
    <div class="search-dropdown">
        <div class="search-dropdown__col_1">
            <div class="search-results-scroller">
                <div class="search-results-container" grafana-scrollbar>
                    <div class="search-top-links">
                        <h3>Quick Filters</h3>
                        <ul>
                            <li ng-repeat="section in ctrl.sections" ng-class="{active: ctrl.viewId === section.id}">
                                <a href="{{::section.url}}">{{::section.title}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="search-recent-container">
                        <div class="recent-heading">
                            <h3>Recent Search:</h3>
                        </div>
                        <div class="profile-recent-search">
                            <ul>
                                <li ng-repeat="recents in ctrl.recents">
                                    <a href="#">
                                        <span></span>
                                        <p>{{::recents.title}}</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>