<div class="search-backdrop" ng-if="ctrl.isOpen" ng-click="ctrl.hideSearch()" ng-style="{'top':ctrl.top}">
</div>
<!-- <div class="search-filter-field-wrapper" ng-if="ctrl.isOpen">
    <div class="search-field-icon pointer" ng-click="ctrl.hideSearch()"><i class="fa fa-close"></i></div>
    <input type="text" placeholder="Find" give-focus="ctrl.giveSearchFocus" tabindex="1" give-focus="ctrl.giveSearchFocus" ng-keydown="ctrl.onKeyDownOnSearch($event)"
    />
    <div class="search-field-spacer"></div>
</div> -->
<div class="search-filter-container" ng-if="ctrl.isOpen" ng-style="{'top':ctrl.top}">
    <div class="search-dropdown">
        <div class="search-dropdown__col_1">
            <div class="search-results-scroller">
                <div class="search-results-container" grafana-scrollbar>
                    <!-- <a href="./plugins/ems-admission/page/enquiries">Test Link to Plugin</a> -->
                    <div class="search-top-links">
                        <ul>
                            <li><a href="#">Students</a></li>
                            <li><a href="#">Teachers</a></li>
                            <li><a href="#">Subjects</a></li>
                            <li><a href="#">Content</a></li>
                        </ul>
                    </div>
                    <div class="search-recent-container">
                        <div class="recent-heading">
                            <h3>Recent</h3>
                            <a href="#" class="clear">Clear</a>
                        </div>
                        <div class="profile-recent-search">
                            <ul>
                                <li><a href="#"><span></span><p>Text 1</p></a></li>
                                <li><a href="#"><span></span><p>Text 2</p></a></li>
                                <li><a href="#"><span></span><p>Text 3</p></a></li>
                                <li><a href="#"><span></span><p>Text 4</p></a></li>
                                <li><a href="#"><span></span><p>Text 5</p></a></li>
                            </ul>
                        </div>
                        <div class="recent-search">
                            <ul>
                               <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 1</a></li>
                               <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 2</a></li>
                               <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 3</a></li> 
                            </ul>
                        </div>
                    </div>
                    <div class="try-sreaching">
                        <h3>Try sreaching for</h3>
                        <ul>
                            <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 1</a></li>
                            <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 2</a></li>
                            <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 3</a></li> 
                            <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 4</a></li>
                            <li><a href="#"><i class="gf-form-input-icon fa fa-search"></i> Text 5</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>