<div class="bank-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add New Bank Account
			</span>
		</h2>

		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<div ng-if="is_success_bar === '0'" style="background-color:red;width: 100%; height: 30px;margin:auto;"><label class="gf-form-label b-0 bg-transparent">Due to some error, data could not be saved successfully.</label></div>
		<div ng-if="is_success_bar === '1'" style="background-color:green;width: 100%; height: 30px;margin:auto;"><label class="gf-form-label b-0 bg-transparent">Data saved successfully.</label></div>
			
		<div class="add-confirm-modal p-1">
			<form name="bankForm" class="gf-form-group section m-0 dflex">
				<div class="bg-modal modal-fwidth">
					<div class="mdflex modal-fwidth">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">NAME OF BANK</label>
							<select type="text" ng-model="bankAccount.nameOfBank" class="gf-form-input"
								ng-options="f for f in ['HDFC', 'SBI', 'ICICI', 'ANDHRABANK']"></select>
						</div>
						<div class="modal-fwidth modal-text">
							<label class="gf-form-label b-0 bg-transparent">ACCOUNT NUMBER</label>
							<input type="number" required ng-model="bankAccount.accountNumber" class="gf-form-input"
								placeholder="" />
						</div>
					</div>
					<div class="mdflex modal-fwidth">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">TYPE OF ACCOUNT</label>
							<input type="text" required ng-model="bankAccount.typeOfAccount" class="gf-form-input"
								placeholder="" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text">
							<label class="gf-form-label b-0 bg-transparent">IFSC CODE</label>
							<input type="text" required ng-model="bankAccount.ifscCode" class="gf-form-input "
								placeholder="" maxlength="255"/>
						</div>
					</div>
					<div class="mdflex modal-fwidth">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">BRANCH ADDRESS</label>
							<input type="text" ng-model="bankAccount.branchAddress" class="gf-form-input"
								placeholder="" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text">
							<label class="gf-form-label b-0 bg-transparent">CORPORATE ID</label>
							<input type="number" ng-model="bankAccount.corporateId" class="gf-form-input "
								placeholder="" />
						</div>
					</div>
					<div class="mdflex">
							<div class="modal-fwidth modal-text m-r-1">
								<label class="gf-form-label b-0 bg-transparent">BRANCH</label>
								<select class="gf-form-input" required ng-model="bankAccount.branchId" >
									<option value="">
									  Select Branch</option>
									<option ng-repeat="branch in cmsSelectedBranches.branches" value="{{branch.id}}">
									  {{branch.branchName}}</option>
								  </select>
							</div>
					</div>
					<!-- <div class="mdflex modal-fwidth">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">BRANCH</label>
							<input type="number" ng-model="bankAccount.branchId" class="gf-form-input "
								placeholder="" />
						</div>
						<div class="modal-fwidth modal-text">
							<label class="gf-form-label b-0 bg-transparent">COLLEGE</label>
							<input type="number" ng-model="bankAccount.collegeId" class="gf-form-input "
								placeholder="" />

						</div>
					</div> -->
					<div class="m-t-1 text-center">
						<button ng-click="createBank();" type="submit"
							class="btn btn-success border-bottom m-r-1">Save</button>
						<button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom">Cancel</button>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>

	</div>

</div>