<div class="page-container legal-entities-main-container p-t-2">
  <div class="info-container">
    <div class="authorized-signatory-container">
      <h3>Legal Entity</h3>
      <small>
        A Legal Entity is the registered name of your institution. This name is used in all documents such as pay slip,
        offer letter etc.
      </small>
    </div>

    <div class="logo-container d-flex mt-8">
      <img ng-src="{{ ctrl.logoSrc }}" class="logo" />
      <div class="gf-form">
        <label class="upload-cursor">
          <input id="d-none" type="file" file-select="ctrl.getFile(file)" class="gf-form-file-input" accept="image/*" />
          LEGAL ENTITY
        </label>
      </div>
    </div>
    <div class="authorized-signatory-container ">
      <div class="s-flex">
        <h5 class="form-h5">AUTHORIZED SIGNATORY</h5>
        <div class="tile"><a ng-click="ctrl.showSignatoryModal()" type="submit" class="upload-cursor">+ Add New
            Signatory</a></div>
      </div>
      <div class="signatory-list" ng-repeat="authorizedSignatory in ctrl.authorizedSignatories">
        <div class="tile m-r-2 l-grid">
          <div class="tile-circle yellow"><b>{{authorizedSignatory.signatoryName.charAt(0)}}</b></div>
          <div class="tile-right-part">
            <div class="tile-name"><span>{{authorizedSignatory.signatoryName}}</span></div>
            <div class="tile-info">{{authorizedSignatory.signatoryDesignation}}</div>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
    <div class="back-account-container  mt-0">
      <div class="s-flex">
        <h5 class="form-h5">BANK ACCOUNTS</h5>
        <div class="tile"><a ng-click="ctrl.showBankModal()" type="submit" class="upload-cursor">+ Add Bank Account</a>
        </div>
      </div>
    </div>
    <div class="bank-account-list" ng-repeat="bankAccount in ctrl.bankAccounts">
      <div class="tile m-r-2">
        <div class="tile-circle {{bankAccount.nameOfBank}}">&#8377;</div>
        <div class="tile-right-part">
          <div class="tile-name"><span>{{bankAccount.nameOfBank}}</span></div>
          <div class="tile-info">{{bankAccount.branchAddress}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-container m-3">
  <div class="tab-header">
    <div class="dflex m-b-1">
      <h5 class="form-h5 m-r-1 fwidth">Registration & Tax information</h5>
      <div class="dflex fwidth">
        <div class="gf-form-select-wrapper fwidth m-r-1">
          <select class="gf-form-input">
            <option value="0" selected="selected">Select State</option>
          </select>
        </div>
        <div class="gf-form-select-wrapper fwidth m-r-1">
          <select class="gf-form-input">
            <option value="0" selected="selected">Select City</option>
          </select>
        </div>
        <div class="gf-form-select-wrapper fwidth">
          <select class="gf-form-input">
            <option value="0" selected="selected">Select Branch</option>
          </select>
        </div>
      </div>
    </div>
    <ul class="legal-gf-tabs">
      <li class="legal-gf-tabs-item" ng-click="ctrl.activateTab(0)">
        <a class="legal-gf-tabs-link " ng-class="{'active': ctrl.activeTabIndex === 0}">Collage Info</a>
      </li>
      <li class="legal-gf-tabs-item" ng-click="ctrl.activateTab(1)">
        <a class="legal-gf-tabs-link " ng-class="{'active': ctrl.activeTabIndex === 1}">IT Info</a>
      </li>
      <li class="legal-gf-tabs-item" ng-click="ctrl.activateTab(2)">
        <a class="legal-gf-tabs-link " ng-class="{'active': ctrl.activeTabIndex === 2}">PF Info</a>
      </li>
      <li class="legal-gf-tabs-item" ng-click="ctrl.activateTab(3)">
        <a class="legal-gf-tabs-link " ng-class="{'active': ctrl.activeTabIndex === 3}">ESI Info</a>
      </li>
      <li class="legal-gf-tabs-item" ng-click="ctrl.activateTab(4)">
        <a class="legal-gf-tabs-link " ng-class="{'active': ctrl.activeTabIndex === 4}">PT Info</a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="tab-content"
      style="height:350px !important; margin: 0px 0px 10px 0px !important; padding: 2rem  !important; border: 1px solid #b9bec6;">
      <div ng-class="{'hide':ctrl.activeTabIndex !== 0}">
        <div class="contnet">
          <form name="legalForm" class="gf-form-group section m-0 dflex">
            <div class="form-left">
              <div class="m-b-1">
                <label class="gf-form-label b-0 bg-white">LEGAL NAME OF COLLEGE</label>
                <input type="text" ng-model="legalEntity.legalNameOfTheCollege" class="gf-form-input "
                  placeholder="College Name" />
              </div>
              <div class="m-b-1 ">
                <label class="gf-form-label b-0 bg-white">DATE OF INCORPORATION</label>
                <input type="date" ng-model="legalEntity.dateOfIncorporation" class="gf-form-input " />
              </div>
              <div class="m-b-1 ">
                <label class="gf-form-label b-0 bg-white">COLLEGE IDENTIFICATION NUMBER</label>
                <input type="number" ng-model="legalEntity.collegeIdentificationNumber" class="gf-form-input "
                  placeholder="CIN1234567" />
              </div>
            </div>
            <div class="form-right">
              <div class="m-b-1 ">
                <label class="gf-form-label b-0 bg-white ">TYPE OF COLLEGE</label>
                <div class="gf-form-select-wrapper">
                  <select ng-model="legalEntity.typeOfCollege" ng-options="f for f in ['PRIVATE', 'PUBLIC']"
                    class="gf-form-input">
                  </select>
                </div>
              </div>
              <div class="m-b-1 ">
                <label class="gf-form-label b-0 bg-white ">REGISTERED OFFICE ADDRESS</label>
                <input type="text" ng-model="legalEntity.registeredOfficeAddress1" class="gf-form-input "
                  placeholder="ADDRESS LINE 1" />
              </div>
              <div class="m-b-1 ">
                <!-- <label class="empty-form-label gf-form-label b-0 bg-white "></label> -->
                <input type="text" ng-model="legalEntity.registeredOfficeAddress2" class="gf-form-input "
                  placeholder="ADDRESS LINE 2" />
              </div>

              <div class="flex">
                <!-- <label class="empty-form-label gf-form-label "></label> -->
                <input type="text" ng-model="legalEntity.registeredOfficeAddress3" class="gf-form-input width-12"
                  placeholder="CITY" />
                <input type="text" ng-model="legalEntity.registeredOfficeAddress4" class="gf-form-input width-12 mx"
                  placeholder="STATE" />
                <input type="text" ng-model="legalEntity.registeredOfficeAddress5" class="gf-form-input width-12"
                  placeholder="PIN CODE" />
              </div>
              <div class="gf-form-button-row p-r-0">
                <button type="submit" ng-click="ctrl.activateTab(1)"
                  class="btn btn-success border-bottom">Continue</button>
                <button type="reset" class="btn btn-danger border-bottom">Clear</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-class="{'hide':ctrl.activeTabIndex !== 1}">
        <div class="contnet">
          <form name="legalForm" class="gf-form-group section fwidth">
            <div class="m-b-1 width-18">
              <label class="gf-form-label b-0 bg-white ">PAN</label>
              <input type="text" ng-model="legalEntity.pan" class="gf-form-input " placeholder="TAN121234" />
            </div>
            <div class="flex">
              <div class="m-b-1 width-18">
                <label class="gf-form-label b-0 bg-white ">TAN</label>
                <input type="text" ng-model="legalEntity.tan" class="gf-form-input " placeholder="TAN121234" />
              </div>
              <div class="m-b-1 width-18 mx">
                <label class="gf-form-label b-0 bg-white">TAN CIRCLE NUMBER</label>
                <input type="text" ng-model="legalEntity.tanCircleNumber" class="gf-form-input " placeholder="575765" />
              </div>
              <div class="m-b-1 width-18">
                <label class="gf-form-label b-0 bg-white ">CIT(TDS) LOCATION</label>
                <input type="text" ng-model="legalEntity.citTdsLocation" class="gf-form-input "
                  placeholder="Madhapur" />
              </div>
            </div>
            <div class="m-b-1 width-18">
              <label class="gf-form-label b-0 bg-white">FORM 16 SIGNATORY</label>
              <div class="gf-form-select-wrapper">
                <select class="gf-form-input" ng-model="legalEntity.formSignatory"
                  ng-options="signatoryName as authorizedSignatory.signatoryName for authorizedSignatory in ctrl.authorizedSignatories">
                </select>
              </div>
            </div>

            <div class="gf-form-button-row p-r-0">
              <button type="submit" ng-click="ctrl.activateTab(2)"
                class="btn btn-success border-bottom">Continue</button>
              <button type="reset" class="btn btn-danger border-bottom">Clear</button>
            </div>
          </form>
        </div>
      </div>
      <div ng-class="{'hide':ctrl.activeTabIndex !== 2}">
        <div class="contnet">
          <form name="legalForm" class="gf-form-group">
            <div class="dflex">
              <div class="form-left">
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white ">PF NUMBER</label>
                  <input type="text" ng-model="legalEntity.pfNumber" class="gf-form-input "
                    placeholder="SYNEM839549052" />
                </div>
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white ">SIGNATORY</label>
                  <div class="gf-form-select-wrapper">
                    <select class="gf-form-input" ng-model="legalEntity.pfSignatory"
                      ng-options="signatoryName as authorizedSignatory.signatoryName for authorizedSignatory in ctrl.authorizedSignatories">
                    </select>
                  </div>
                </div>
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white ">SIGNATORY'S FATHER'S NAME</label>
                  <input type="text" ng-model="legalEntity.formSignatory" class="gf-form-input " />
                </div>
              </div>
              <div class="form-right">
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white">REGISTRATION DATE</label>
                  <input type="date" class="gf-form-input" ng-model="legalEntity.pfRegistrationDate" />
                </div>
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white">SIGNATORY DESIGNATION</label>
                  <input type="text" class="gf-form-input" ng-model="legalEntity.pfSignatory" />
                </div>
              </div>
            </div>
            <div class="gf-form-button-row p-r-0">
              <button type="submit" ng-click="ctrl.activateTab(3)"
                class="btn btn-success border-bottom">Continue</button>
              <button type="reset" class="btn btn-danger border-bottom">Clear</button>
            </div>
          </form>
        </div>
      </div>
      <div ng-class="{'hide':ctrl.activeTabIndex !== 3}">
        <div class="contnet">
          <form name="legalForm" class="gf-form-group">
            <div class="dflex">
              <div class="form-left">
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white">ESI NUMBER</label>
                  <input type="text" class="gf-form-input" ng-model="legalEntity.esiNumber"
                    placeholder="454876877985465" />
                </div>
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white ">SIGNATORY</label>
                  <div class="gf-form-select-wrapper">
                    <select class="gf-form-input" ng-model="legalEntity.esiSignatory"
                      ng-options="signatoryName as authorizedSignatory.signatoryName for authorizedSignatory in ctrl.authorizedSignatories">
                    </select>
                  </div>
                </div>
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white">SIGNATORY'S FATHER'S NAME</label>
                  <input type="text" class="gf-form-input" ng-model="legalEntity.ptsignatory" />
                </div>
              </div>
              <div class="form-right">
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white">REGISTRATION DATE</label>
                  <input type="date" class="gf-form-input" ng-model="legalEntity.esiRegistrationDate" />
                </div>
                <div class="m-b-1">
                  <label class="gf-form-label b-0 bg-white">SIGNATORY DESIGNATION</label>
                  <input type="text" class="gf-form-input" ng-model="legalEntity.esiSignatory" />
                </div>
              </div>
            </div>
            <div class="gf-form-button-row p-r-0">
              <button type="submit" ng-click="ctrl.activateTab(4)"
                class="btn btn-success border-bottom">Continue</button>
              <button type="reset" class="btn btn-danger border-bottom">Clear</button>
            </div>
        </div>
      </div>
      <div ng-class="{'hide':ctrl.activeTabIndex !== 4}">
        <div class="contnet">
          <form name="legalForm" class="section fwidth">
            <!-- <div class="gf-form-group">
              <h3 class="page-heading">Karnataka</h3>
              <div class="dflex">
                <div class="m-b-1 width-18">
                  <label class="gf-form-label b-0 bg-white ">PT NUMBER</label>
                  <input type="text" class="gf-form-input " placeholder="4548768779" />
                </div>
                <div class="m-b-1 width-18 mx">
                  <label class="gf-form-label b-0 bg-white ">PT REGISTRATION DATE</label>
                  <input type="date" class="gf-form-input " />
                </div>
                <div class="m-b-1 width-18">
                  <label class="gf-form-label b-0 bg-white ">PT SIGNATORY</label>
                  <div class="gf-form-select-wrapper">
                    <select class="gf-form-input">
                      <option label="John" value="0" selected="selected">John</option>
                      <option label="Doe" value="1">Doe</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="gf-form-group">
              <h3 class="page-heading">Telangana</h3>
              <div class="flex">
                <div class="m-b-1 width-18">
                  <label class="gf-form-label b-0 bg-white">PT NUMBER</label>
                  <input type="text" class="gf-form-input" ng-model="legalEntity.ptNumber" placeholder="4548768779" />
                </div>
                <div class="m-b-1 width-18 mx">
                  <label class="gf-form-label b-0 bg-white">PT REGISTRATION DATE</label>
                  <input type="date" class="gf-form-input" ng-model="legalEntity.ptRegistrationDate" />
                  <input type="date" class="gf-form-input" ng-model="legalEntity.logo" />
                </div>
                <div class="m-b-1 width-18">
                  <label class="gf-form-label b-0 bg-white">PT SIGNATORY</label>
                  <div class="gf-form-select-wrapper">
                    <select class="gf-form-input" ng-model="legalEntity.ptSignatory"
                      ng-options="signatoryName as authorizedSignatory.signatoryName for authorizedSignatory in ctrl.authorizedSignatories">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="gf-form-button-row p-r-0">
              <button type="submit" ng-click="createLegalEntity();" class="btn btn-success border-bottom">Save</button>
              <button type="reset" class="btn btn-danger border-bottom">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<i class="fa fa-phone orange"></i>