<div class="signatory-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add New Authorized Signatory
			</span>
		</h2>

		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<div ng-if="is_success_bar === '0'" style="background-color:red;width: 100%; height: 30px;margin:auto;"><label class="gf-form-label b-0 bg-transparent">Due to some error, data could not be saved successfully.</label></div>
		<div ng-if="is_success_bar === '1'" style="background-color:green;width: 100%; height: 30px;margin:auto;"><label class="gf-form-label b-0 bg-transparent">Data saved successfully.</label></div>
			
		<div class="add-confirm-modal p-1">
			<form name="signatoryForm" class="gf-form-group m-0">
				<div class="bg-modal">
					<div class="mdflex">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">SIGNATORY NAME</label>
							<input type="text" required ng-model="authorizedSignatory.signatoryName"
								class="gf-form-input" placeholder="name" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">SIGNATORY FATHER NAME</label>
							<input type="text" required ng-model="authorizedSignatory.signatoryFatherName"
								class="gf-form-input" placeholder="father name" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text">
							<label class="gf-form-label b-0 bg-transparent">SIGNATORY DESIGNATION</label>
							<input type="text" required ng-model="authorizedSignatory.signatoryDesignation"
								class="gf-form-input" placeholder="designation" maxlength="255"/>
						</div>
					</div>
					<div class="fwidth-signatory-modal-text">
						<label class="gf-form-label b-0 bg-transparent">ADDRESS</label>
						<input type="text" required ng-model="authorizedSignatory.address1" class="gf-form-input m-b-1"
							placeholder="" maxlength="255"/>
						<input type="text" ng-model="authorizedSignatory.address2" class="gf-form-input m-b-1"
							placeholder="" maxlength="255"/>
					</div>
					<div class="mdflex">
						<div class="modal-fwidth modal-text m-r-1">
							<input type="text" ng-model="authorizedSignatory.address3" class="gf-form-input"
								placeholder="" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text m-r-1">
							<input type="text" ng-model="authorizedSignatory.address4" class="gf-form-input"
								placeholder="" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text m-r-1">
							<input type="text" ng-model="authorizedSignatory.address5" class="gf-form-input"
								placeholder="" maxlength="255"/>
						</div>
					</div>
					<div class="mdflex">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">EMAIL</label>
							<input type="text" required ng-model="authorizedSignatory.email" class="gf-form-input"
								placeholder="email" maxlength="255"/>
						</div>
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">PAN CARD NUMBER</label>
							<input type="text" required ng-model="authorizedSignatory.panCardNumber"
								class="gf-form-input" placeholder="pan number" maxlength="255"/>
						</div>
					</div>

					<div class="mdflex">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">BRANCH</label>
							<select class="gf-form-input" required ng-model="authorizedSignatory.branchId" >
								<option value="">
								  Select Branch</option>
								<option ng-repeat="branch in cmsSelectedBranches.branches" value="{{branch.id}}">
								  {{branch.branchName}}</option>
							  </select>
						</div>
					</div>

					<!-- <div class="mdflex m-b-1">
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">COLLEGE ID</label>
							<input type="text" required ng-model="authorizedSignatory.collegeId" class="gf-form-input"
								placeholder="college id" />
						</div>
						<div class="modal-fwidth modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">BRANCH ID</label>
							<input type="text" required ng-model="authorizedSignatory.branchId" class="gf-form-input"
								placeholder="branch number" />
						</div>
					</div> -->
					<div class="m-t-1 text-center">
						<button type="submit" ng-click="createSignatory();"
							class="btn btn-success border-bottom m-r-1">Save</button>
						<button ng-click="dismiss()" type="reset"
							class="btn btn-danger border-bottom m-r-0">Cancel</button>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>

	</div>

</div>