<!-- <div class="page-nav">
  <div class="page-breadcrumbs">
    <a class="breadcrumb-item active" href="/"> <i class="fa fa-home"></i> </a>
  <a class="breadcrumb-item" ng-href="{{::item.url}}" ng-repeat="item in ctrl.model.breadcrumbs"> {{::item.text}} </a> -->
<!-- </div>
</div> -->

<!-- <dashboard-search></dashboard-search> -->
<!-- <div class="navbar-inner">
    <a class="navbar-brand-btn pointer" ng-click="ctrl.toggleSideMenu()">
      <img class="navbar-logo-img" src="public/img/synectiks-logo.svg"></img>
      <i class="fa fa-caret-down nav-caret-down"></i>
      <i class="fa fa-chevron-left nav-chevron-left"></i>
    </a>

    <a class="navbar-brand-btn-small pointer" ng-click="ctrl.toggleSideMenuSmallBreakpoint()">
      <img class="navbar-logo-img" src="public/img/synectiks-logo.svg"></img>
      <i class="fa fa-caret-down nav-caret-down"></i>
      <i class="fa fa-chevron-left nav-chevron-left"></i>
    </a>

    <div class="pull-right nav-search-container">
      <input class="nav-search-box" type="text" placeholder="Search" />
      <a>
        <i class="fa fa-bell"></i>
      </a>
      <a>
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div> -->

<div class="page-nav" style="position: fixed; width: 95%; z-index: 1024">
  <div class="dash-nav">
    <div class="clg-name">
      <div ng-if="ctrl.user !== 'admin'" class="cust-style">{{ctrl.globalSettings.branch.branchName}}</div>

    </div>
    <div class="search-name p-1">
      <label class="gf-form--has-input-icon mr-auto"><input type="text" class="gf-form-input search-width"
          placeholder="Search" ng-click="ctrl.openSearchFilter()"><i
          class="gf-form-input-icon fa fa-search"></i></label>

      <div class="white-color p-r-1" style="display: flex;align-items: center;" ng-click="ctrl.openDropDown()">
        <i class="gf-form-input-icon fa fa-cog" style="font-size: 20px; margin-right: 10px;"></i>
        <img src="public/img/User.png" style="height:30px;" alt="">
      </div>

      <!-- <input type=" search" name="" class="search-width" id="" placeholder="Search"
          ng-click="ctrl.openSearchFilter()" /> -->
      <!-- <a href="/profile">Admin <i class="fa fa-angle-down" aria-hidden="true"> </i></a> <a href="/profile"
        class="rnd">A</a> -->
    </div>
  </div>
</div>
<dashboard-search-filter></dashboard-search-filter>
<!-- <navbar-popup-ctrl></navbar-popup-ctrl> -->
<navbar-popup></navbar-popup>