<!-- <div class="page-nav">
  <div class="page-breadcrumbs">
    <a class="breadcrumb-item active" href="/"> <i class="fa fa-home"></i> </a>
  <a class="breadcrumb-item" ng-href="{{::item.url}}" ng-repeat="item in ctrl.model.breadcrumbs"> {{::item.text}} </a> -->
<!-- </div>
</div> -->

<!-- <dashboard-search></dashboard-search> -->
<div class="page-nav">
  <div class="dash-nav p-1">
    <div class="clg-name">
      <img src="https://synectiks.com/images/logo/Logo.png" alt="" />
      <h4>College Name</h4>
      <a> <i class="fa fa-cog" aria-hidden="true"></i> </a>
    </div>
    <div class="search-name">
      <input type="search" name="" id="" placeholder="Search" />
      <a>User Name <i class="fa fa-angle-down" aria-hidden="true"> </i></a> <a class="rnd">U</a>
    </div>
  </div>
</div>
