<div class="add-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add Academic Year
			</span>
		</h2>

		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="add-confirm-modal p-1">
			<form name="yearForm" class="gf-form-group section m-0 dflex">
				<div class="bg-modal modal-fwidth">
					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text modal-fwidth m-r-1">
							<label class="gf-form-label b-0 bg-transparent">Academic Year</label>
							<input type="text" required ng-model="academicYear.year" class="gf-form-input "
								placeholder="college head" />
						</div>
						<div>
							<label class="gf-form-label b-0 bg-transparent">Status</label>
							<label class="switch">
								<input type="checkbox" ng-model="academicYear.status" ng-true-value="'ACTIVE'"
									ng-false-value="'DEACTIVE'" />
								<span class="slider"></span>
							</label>
						</div>
						<!-- <div class="fwidth-modal-text modal-fwidth">
							<label class="gf-form-label b-0 bg-transparent">Academic Year</label>
							<input type="text" required ng-model="academicYear.desc" class="gf-form-input "
								placeholder="college head" />
						</div> -->
					</div>

					<div class="mdflex modal-fwidth">
						<div class="fwidth-modal-text m-r-1">
							<label class="gf-form-label b-0 bg-transparent">Start Date</label>
							<input type="date" required ng-model="academicYear.startDate" class="gf-form-input "
								placeholder="" (ngModelChange)="academicYear.startDate = $event" maxlength="10" />
						</div>
						<div class="fwidth-modal-text">
							<label class="gf-form-label b-0 bg-transparent">End Date</label>
							<input type="date" required ng-model="academicYear.endDate" class="gf-form-input "
								placeholder="" (ngModelChange)="academicYear.endDate = $event" maxlength="10" />
						</div>

					</div>
					<div class="m-t-1 text-center">
						<button ng-hide="text=='update'" type="submit" ng-click="createYear();"
							class="btn btn-success border-bottom">Save</button>
						<button ng-hide="text=='create'" type="submit" ng-click="updateYear();"
							class="btn btn-success border-bottom">Update</button>
						<button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom">Cancel</button>
					</div>
					<div ng-if="is_success_bar === '0'"
						style="color:red;width: 50%; height: 10px;margin:auto;text-align:center;">There is some error!
					</div>
					<div ng-if="is_success_bar === '1'"
						style="color:green;width: 50%; height: 10px;margin:auto;text-align:center;">Data saved
						successfully!</div>
					<div ng-if="is_success_bar === '2'"
						style="color:red;width: 50%; height: 10px;margin:auto;text-align:center;">Start and End dates
						cannot overlap!</div>
					<div ng-if="is_success_bar === '3'"
						style="color:red;width: 50%; height: 10px;margin:auto;text-align:center;">Start and End dates
						cannot be same!</div>
				</div>
			</form>
		</div>

		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>

	</div>

</div>