<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Year Setting
</h3>
<div class="page-container page-body legal-entities-main-container">
  <div class="info-container" ng-class="{'hide':ctrl.activeTabIndex !== 0}">
    <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">Academic Year</h4>
      <div>
        <a class="btn btn-primary" style="width: 150px;" ng-click="ctrl.showModal()">
          Add Academic Year</a>
      </div>
    </div>
    <table id="academic" class="fwidth">
      <thead>
        <th>Year</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Holidays</th>
        <th>Terms</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="academicYear in ctrl.academicYears">
          <td>{{academicYear.year}}</td>
          <td>
            {{academicYear.strStartDate}}
          </td>
          <td>
            {{academicYear.strEndDate}}
          </td>
          <td><a class="btn btn-primary wauto" ng-click="ctrl.activateTab(1)">Manage Holidays</a></td>
          <td><a class="btn btn-primary wauto" ng-click="ctrl.activateTab(2)">Manage Terms</a></td>
          <td>
            <a ng-click="ctrl.editYear(academicYear)"><i class="fa fa-pencil-square-o fa-2x m-r-1"
                aria-hidden="true"></i></a>
            <a ng-click="ctrl.deleteAcademicYear(academicYear)"><i class="fa fa-trash-o fa-2x"
                aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="info-container" ng-class="{'hide':ctrl.activeTabIndex !== 1}">
    <div class="authorized-signatory-container m-b-1 dflex bg-heading ">
      <h4 class="ptl-06">Academic Year</h4>
      <div ng-class="{'hide':ctrl.activeBtnIndex === 1}">
        <a class="btn btn-primary" ng-click="ctrl.activateBtn(1)">Add Holiday</a>
        <a class="btn btn-primary" ng-click="ctrl.activateTab(0)">Back</a>
      </div>
      <div ng-class="{'hide':ctrl.activeBtnIndex !== 1}">
        <a class="btn btn-primary" ng-click="createHoliday(); ctrl.activateBtn(0)">Save</a>
        <a class="btn btn-primary" ng-click="ctrl.activateTab(0)">Back</a>
      </div>
    </div>

    <!-- Holidays -->

    <table class="academicyear">
      <thead>
        <th>Sr.No.</th>
        <th>Holiday</th>
        <th>Date</th>
        <th>Active</th>
      </thead>
      <tbody>
        <tr ng-repeat="holiday in ctrl.holidays">
          <td class="text-center link-td">
            {{ $index + 1 | number }}
          </td>
          <td class="text-center link-td">
            {{ holiday.holidayDesc }}
          </td>
          <td class="text-center link-td">
            {{ holiday.strHolidayDate }}
          </td>
          <td>
            <label class="switch"> <input disabled type="checkbox" ng-model="holiday.holidayStatus"
                ng-true-value="'ACTIVE'" ng-false-value="'DEACTIVE'" /> <span class="slider disabledCursor"></span>
            </label>
          </td>
        </tr>
        <form name="holidayForm">
          <tr ng-class="{'hide':ctrl.activeBtnIndex !== 1}">
            <td class="text-center link-td"></td>
            <td class="text-center link-td">
              <input type="text" required ng-model="holiday.holidayDesc" class="gf-form-input" />
            </td>
            <td class="text-center link-td">
              <input type="date"z required ng-model="holiday.holidayDate" class="gf-form-input" />
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" ng-model="holiday.holidayStatus" ng-true-value="'ACTIVE'"
                  ng-false-value="'DEACTIVE'" />
                <span class="slider"></span>
              </label>
            </td>
            <!-- <td class="text-center link-td">
              <input type="number" required ng-model="holiday.academicYearId" class="gf-form-input" />
            </td> -->
          </tr>
        </form>
      </tbody>
    </table>
  </div>
  <div class="info-container" ng-class="{'hide':ctrl.activeTabIndex !== 2}">
    <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">Academic Year</h4>
      <div ng-class="{'hide':ctrl.activeBtnIndex === 2}">
        <a class="btn btn-primary" ng-click="ctrl.activateBtn(2)">Add Term</a>
        <a class="btn btn-primary" ng-click="ctrl.activateTab(0)">Back</a>
      </div>
      <div ng-class="{'hide':ctrl.activeBtnIndex !== 2}">
        <a class="btn btn-primary" ng-click="createTerm(); ctrl.activateBtn(0)">Save</a>
        <a class="btn btn-primary" ng-click="ctrl.activateTab(0)">Back</a>
      </div>
    </div>

    <!-- Terms -->

    <table class="academicyear">
      <thead>
        <th>Sr.No.</th>
        <th>Terms/Semisters</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Active</th>
      </thead>
      <tbody>
        <tr ng-repeat="term in ctrl.terms">
          <td class="text-center link-td">
            {{ $index + 1 | number }}
          </td>
          <td class="text-center link-td">
            {{ term.termsDesc }}
          </td>
          <td class="text-center link-td">
            {{ term.strStartDate }}
          </td>
          <td class="text-center link-td">
            {{ term.strEndDate }}
          </td>
          <td>
            <label class="switch">
              <input type="checkbox" disabled ng-model="term.termStatus" ng-true-value="'ACTIVE'"
                ng-false-value="'DEACTIVE'" />
              <span class="slider disabledCursor"></span>
            </label>
          </td>
        </tr>
        <form name="termForm">
          <tr ng-class="{'hide':ctrl.activeBtnIndex !== 2}">
            <td class="text-center link-td">
              <select class="gf-form-input" ng-model="term.academicyearId">
                <option ng-repeat="academicYear in ctrl.academicYears" value="{{academicYear.id}}" selected="selected">
                  {{academicYear.id}}</option>
              </select>
            </td>
            <td class="text-center link-td">
              <input type="text" required ng-model="term.termsDesc" class="gf-form-input" />
            </td>
            <td class="text-center link-td">
              <input type="date" required ng-model="term.startDate" class="gf-form-input" />
            </td>
            <td class="text-center link-td">
              <input type="date" required ng-model="term.endDate" class="gf-form-input" />
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" ng-model="term.termStatus" ng-true-value="'ACTIVE'"
                  ng-false-value="'DEACTIVE'" />
                <span class="slider"></span>
              </label>
            </td>
          </tr>
        </form>
      </tbody>
    </table>
  </div>
</div>