<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<div class="page-container page-body legal-entities-main-container">
  <div class="info-container">
    <div class="authorized-signatory-container m-b-1">
      <h3>Admin - Academic Year Setting</h3>
      <h4>Academic Year</h4>
    </div>
  </div>
  <table>
    <thead>
      <th>Year</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Holidays</th>
      <th>Terms</th>
    </thead>
    <tbody>
      <tr>
        <td>2018-2019</td>
        <td><input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2018-08-09" /></td>
        <td><input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2019-08-09" /></td>
        <td><button class="btn btn-primary">Manage Holidays</button></td>
        <td><button class="btn btn-primary">Manage Terms</button></td>
      </tr>
      <tr>
        <td>2018-2019</td>
        <td><input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2018-08-09" /></td>
        <td><input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2019-08-09" /></td>
        <td><button class="btn btn-primary">Manage Holidays</button></td>
        <td><button class="btn btn-primary">Manage Terms</button></td>
      </tr>
    </tbody>
  </table>
</div>
