<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<div class="page-container page-body legal-entities-main-container plr">
   <table id="tmtd" class="fwidth">
     <thead>
       <th></th>
       <th>Monday</th>
       <th>Tuesday</th>
       <th>Wednesday</th>
       <th>Thursday</th>
       <th>Friday</th>
       <th>Saturday</th>
     </thead>
     <tbody>
       
       <tr>
         <td>

           <div class="ttlect">
           <span>Lecture 1</span> <br>
           <span>07:30 AM <br> 08:30 AM</span>
          </div>

        </td>

         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>

       </tr>

       <tr>
         <td>

           <div class="ttlect">
           <span>Lecture 2</span> <br>
           <span>07:30 AM <br> 08:30 AM</span>
          </div>

        </td>

         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>

       </tr>
<tr>
  <td colspan="7">Break</td>
</tr>
       <tr>
         <td>

           <div class="ttlect">
           <span>Lecture 3</span> <br>
           <span>07:30 AM <br> 08:30 AM</span>
          </div>

        </td>

         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>

       </tr>

       <tr>
         <td>

           <div class="ttlect">
           <span>Lecture 4</span> <br>
           <span>07:30 AM <br> 08:30 AM</span>
          </div>

        </td>

         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>

       </tr>

       <tr>
         <td>

           <div class="ttlect">
           <span>Lecture 5</span> <br>
           <span>07:30 AM <br> 08:30 AM</span>
          </div>

        </td>

         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
           <div class="ttdgrid">

           <div class="ttd">
             <span>Subject</span>
             <span ng-click="">E</span>
            </div>

           <div>
             <select name="" id="">
             <option value="">Operating</option>
             <option value="">Computer</option>
           </select>
          </div>

         </div>
        </td>
         <td>
          
        </td>

       </tr>

     </tbody>
   </table>
  </div>
  </div>
</div>