<page-header model="ctrl.navModel"></page-header>
<!-- optional-->
<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Staff Setup
</h3>
<div class="p-2 page-body legal-entities-main-container">
  <!-- <a class="btn btn-primary" ng-click="ctrl.activeTabStaffCreate();"> Create</a>
  <a class="btn btn-primary" ng-click="ctrl.activeTabStaffList()">List</a>
  <a class="btn btn-primary" ng-click="ctrl.activeTabStaffProfile()">Profile</a> -->
  <div class="authorized-signatory-container m-b-1">
    <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">Staff Details</h4>
      <div ng-class="{'hide':ctrl.activeBtnIndex !== 0}">
        <a ng-click="ctrl.activeBtn(1); ctrl.activeTabStaffCreate(); " class="btn btn-primary" style="width: 135px;">
          Create New Staff</a>
        <a class="btn btn-primary">Export</a>
      </div>
      <div ng-class="{'hide':ctrl.activeBtnIndex !== 1}">
          <a ng-click="ctrl.activeBtn(0); ctrl.activeTabStaffList();" class="btn btn-primary" style="width: 135px;">
            Cancel</a>
        </div>
    </div>
    <div class="tab-content">
      <div ng-class="{'hide':ctrl.activeTabStaffId !== 'staff_list'}">
        <staff-list>
      </div>
      <div ng-class="{'hide':ctrl.activeTabStaffId !== 'staff_create'}">
        <staff-create></staff-create>
      </div>
      <div ng-class="{'hide':ctrl.activeTabStaffId !== 'staff_profile'}">
        <staff-profile></staff-profile>
      </div>
    </div>
  </div>
</div>