<div class="add-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add Role
			</span>
		</h2>
		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>
	<div class="modal-content">
		<div class="add-confirm-modal p-1">
			<form name="roleForm" class="gf-form-group section m-0 dflex">
				<div class="bg-modal">
					<div class="fwidth-modal-text">
						<label class="gf-form-label b-0 bg-transparent">VERSION</label>
						<input type="text" ng-model="role.version" class="gf-form-input " placeholder="" />
					</div>
					<div class="fwidth-modal-text">
						<label class="gf-form-label b-0 bg-transparent">ROLE NAME</label>
						<input type="text" ng-model="role.name" class="gf-form-input " placeholder="" />
					</div>
					<div class="fwidth-modal-text">
						<label class="gf-form-label b-0 bg-transparent">ROLE DESCRIPTION</label>
						<textarea ng-model="role.description" class="gf-form-input " placeholder=""></textarea>
					</div>
					<div class="transition-preference">
						<div class="transition-preference-label">Set transition preferences</div>
						<div class="tab-header">
							<ul class="gf-tabs">
								<li class="gf-tabs-item" ng-repeat="preference in preferences"
									ng-click="setPreference(preference.id)">
									<a class="gf-tabs-link" ng-class="{active: preferenceId === preference.id}">
										{{::preference.title}}
									</a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="border-container p-2" style="max-height: 100px; overflow-y: auto;">
							<div class="tab-content" ng-class="{'hide': preferenceId !== 'permitted'}">
								<table style="width: 100%">
									<tr ng-repeat="permisn in permissions">
										<td>
											<input type="checkbox" id="perm-{{permisn.id}}" ng-model="permisn.permit" />
											<label for={{permisn.id}}>{{permisn.permission}}</label>
										</td>
									</tr>
								</table>
							</div>
							<div class="tab-content" ng-class="{'hide':preferenceId !== 'prohibited'}">
								<table style="width: 100%">
									<tr ng-repeat="permisn in permissions">
										<td>
											<input type="checkbox" id="proh-{{permisn.id}}" ng-model="permisn.prohib" />
											<label for={{permisn.id}}>{{permisn.permission}}</label>
										</td>
									</tr>
								</table>
							</div>
							<div class="clear-both"></div>
						</div>
					</div>
					<div class="gf-form-button-row p-r-4">
						<button type="submit" ng-click="saveRole()" class="btn btn-success border-bottom">Save</button>
						<button ng-click="dismiss()" type="reset" class="btn btn-danger border-bottom">Cancel</button>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-content-confirm-text" ng-if="confirmText">
			<input type="text" class="gf-form-input width-16" style="display: inline-block;"
				placeholder="Type {{confirmText}} to confirm" ng-model="confirmInput"
				ng-change="updateConfirmText(confirmInput)">
		</div>
	</div>
</div>