<div class="page-container page-body roles-main-container">
    <div class="groups-table-container">
        <table class="groups-table" style="width: 100%">
            <thead>
                <td>Version</td>
                <td>Name</td>
                <td>Description</td>
                <td>Permissions</td>
            </thead>
            <tr ng-repeat="role in ctrl.roles">
                <td>
                    <label>{{role.version}}</label>
                </td>
                <td>
                    <input type="checkbox" id={{role.id}} />
                    <label for={{role.id}}>{{role.name}}</label>
                </td>
                <td>
                    <label>{{role.description}}</label>
                </td>
                <td>
                    <table class="groups-table" style="width: 100%">
                        <tr ng-repeat="permission in role.permissions">
                            <td>
                                <label>{{permission.version}}</label>
                            </td>
                            <td>
                                <label>{{permission.name}}</label>
                            </td>
                            <td>
                                <label>{{permission.permission}}</label>
                            </td>
                            <td>
                                <label>{{permission.description}}</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <button class="link-btn pull-right mt-1" ng-click="ctrl.showAddRoleModal()">
        <i class="fa fa-plus-circle">Add new Role</i>
    </button>
    <div class="clear-both"></div>
</div>
</div>