<div class="page-container page-body roles-main-container">
    <div class="roles-container border-container">
        <div class="radio-button-container" ng-repeat="role in ctrl.roles">
            <input name="roles" type="radio" id={{role.id}} />&nbsp;<label class="d-inline-block" for={{role.id}}>{{role.title}}</label>
        </div>
    </div>
    <div class="transition-preference">
        <div class="transition-preference-label">Set transition preferences</div>
        <div class="tab-header">
            <ul class="gf-tabs">
                <li class="gf-tabs-item" ng-repeat="preference in ctrl.preferences" ng-click="ctrl.setPreference(preference.id)">
                    <a class="gf-tabs-link" ng-class="{active: ctrl.preferenceId === preference.id}">
                        {{::preference.title}}
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="tab-content border-container">
            <div ng-class="{'hide':ctrl.preferenceId !== 'permitted'}">
                <div class="preference-container tree-view-container" ng-repeat="permittedRole in ctrl.permittedRoles">
                    <tree-view family="permittedRole"></tree-view>
                </div>
            </div>
            <div ng-class="{'hide':ctrl.preferenceId !== 'prohibited'}">
                <div class="prohibitable-roles tree-view-container" ng-repeat="prohibitableRole in ctrl.prohibitableRoles">
                    <tree-view family="prohibitableRole"></tree-view>
                </div>
            </div>
            <div ng-class="{'hide':ctrl.preferenceId !== 'exclusive_role'}">
                <div class="checkbox-button-container" ng-repeat="role in ctrl.exclusiveRoles">
                    <input name="{{role.id}}" type="checkbox" id={{role.id}} />&nbsp;<label class="d-inline-block" for={{role.id}}>{{role.title}}</label>
                </div>
            </div>
            <div ng-class="{'hide':ctrl.preferenceId !== 'general'}">
                This is general
            </div>
        </div>
    </div>
</div>