<h3 class="bg-heading p-5">
  <i class="fa fa-university stroke-transparent mr-1" aria-hidden="true"></i> Admin - Academic Courses
</h3>
<div class="page-container page-body main-container">
  <div class="authorized-signatory-container m-b-1">
    <div class="authorized-signatory-container m-b-1 dflex ht bg-heading">
      <h4 class="ptl-06">Courses</h4>
      <div>
        <a class="btn btn-primary" style="width: 150px;" ng-click="">
          Assign</a>
      </div>
    </div>
    <table id="academic" class="fwidth">
      <thead>
        <th><input type="checkbox"></th>
        <th>Course Name</th>
        <th>Fees</th>
        <th>Duration</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            Course 1
          </td>
          <td>
            200
          </td>
          <td>
            1 year
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>