<div class="import-department-modal-body" ng-cloak>
	<div class="add-modal-header">
		<h2 class="add-modal-header-title">
			<!-- <i class="fa {{icon}}"></i> -->
			<span class="p-l-1">
				Add New
			</span>
		</h2>

		<a class="add-modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="add-confirm-modal p-1 mgrid">
			<div>
				<div>
					<div class="m-flex">
						<span class="circle-bg-blue">1</span>
						<span id="line"></span>
						<span class="circle-bg-blue m-grey-bg">2</span>
					</div>
					<div class="m-flex m-b-1">
						<span class="mlabel">UPLOAD <br> EXCEL FILE</span>
						<span></span>
						<span class="mlabel">IMPORT</span>
					</div>
				</div>

				<h3>Upload Departments Information</h3>
				<p>You can import Department information in bulk using the Excel file import here. <br>
					Follow the instructions below.
				</p>
				<h3 class="m-b-1">Step 1 - Download the <a>Excel Template <i class="fa fa-download"></i></a></h3>
				<h3 class="m-b-1">Step 2 - Fill in the Department details.</h3>
				<h3 class="m-b-1">Step 3 - <a class="btn btn-danger border-bottom btnwidth">Upload Excel File</a></h3>
			</div>
			<div class="mbox">
				<h3>INSTRUCTIONS</h3>
				<ol class="m-l-2">
					<li>Department name and Department Head names are required to import Departments.</li>
					<li>Duplicate Department names are not allowed.</li>
				</ol>
			</div>
		</div>

	</div>

</div>